window {
	background-color: alpha(black, 0);
}

progressbar progress {
	background-color: #ffafd7;
}

progressbar trough {
	/* border: 2px solid #0f0f0f; */
	min-height: 8px;
}

.fill-line {
	background-color: #ffd75f;
}

.volume-number {
	margin-top: 10;
	font-size: 40;
	color: #ffafd7;
}
