/*
* Urls starting with
* https://studio.youtube.com/live_chat
* https://www.youtube.com/live_chat?is_popout
*/

html {
	--yt-live-chat-author-chip-owner-background-color: #ffd75f;
	--yt-live-chat-author-photo-margin-right: 10px;
}

html[dark] {
	--yt-live-chat-message-highlight-background-color: transparent;
	--yt-live-chat-moderator-color: #ffafd7;
}

/* the button to react (as a streamer wtf (as a millionaire)) */
yt-reaction-control-panel-overlay-view-model:has(#reaction-control-panel),
yt-live-chat-viewer-engagement-message-renderer,
/* my pfp when starting to type a message */
#top > #avatar,
#emoji-picker-button {
	display: none;
}

/* big ass input + etc container at the bottom */
yt-live-chat-message-input-renderer {
	padding: 0;
}

/* thingy that contains Chat... */
#input-container.yt-live-chat-message-input-renderer,
/* highlight around + button */
yt-live-chat-icon-toggle-button-renderer.yt-live-chat-message-input-renderer>#button.yt-live-chat-icon-toggle-button-renderer {
	background-color: transparent;
}

/* circled scroll arrow */
yt-icon-button.yt-live-chat-item-list-renderer {
	background-color: #ffd75f;
}
button#button[aria-label='More comments below'] div {
	fill: #0f0f0f !important;
}

/* non-mod chatters' nicknames */
#author-name.yt-live-chat-author-chip {
	color: #ffd75f;
}

/* the thingy that contains a chat message */
yt-live-chat-text-message-renderer {
	padding: 3px 10px 3px 9px;
}

/* place for chat */
div#item-offset.style-scope.yt-live-chat-item-list-renderer {
	min-height: 10px !important;
	min-width: 10px !important;
}

/* place for chat, scrollable area */
yt-live-chat-app {
	min-width: 10px !important;
	min-height: 10px !important;
}

/* youtube chat header */
[aria-label='Live Chat mode selection'] > #label-text {
	font-size: 14px;
}
yt-live-chat-header-renderer {
	height: 22px;
}
