/* discord.com
 * domain
 */

:root {
	--font-code:
		Google Sans Code, Input Mono Nerd Font, Input Mono, JetBrainsMono Nerd Font, Symbols Nerd Font Mono, Consolas, monospace;
	--font-primary: Inter;
	--font-weight-semibold-1x-light-theme: 500;
	--custom-emoji-size-jumbo-emoji: 2rem;
}

html {
	font-size: 100% !important;
}

/* titlebar */
div[class$='-container'] > div[class$='-base'] {
	margin-top: -32px;
	/* display: none; */
}

pre:has([class^='codeContainer_']) {
	max-width: 95%;
}
pre > [class^='codeContainer_'] {
	max-width: unset !important;
}
