/* discord.com
 * domain
 */

:root {
	--font-code:
		Google Sans Code, Input Mono Nerd Font, Input Mono, JetBrainsMono Nerd Font, Symbols Nerd Font Mono, Consolas, monospace;
	--font-primary: Inter;
	--font-weight-semibold-1x-light-theme: 500;
	--custom-emoji-size-jumbo-emoji: 2rem;
}

html {
	font-size: 100% !important;
}

/* titlebar */
div[class^='base__'] {
	grid-template-rows: [top] 0px [titleBarEnd] min-content [noticeEnd] 1fr [end];
	> div[class^='bar_']:has([class^='title_']) {
		display: none;
	}
}

pre:has([class^='codeContainer_']) {
	max-width: 95%;
}
pre > [class^='codeContainer_'] {
	max-width: unset !important;
}
