/* discord.com
 * domain
 */

:root {
	--font-code: Input Mono Nerd Font, Symbols Nerd Font Mono, Consolas, monospace;
	--font-primary: Inter;
	--font-weight-semibold-1x-light-theme: 500;
	--custom-emoji-size-jumbo-emoji: 2rem;
}

html {
	font-size: 100% !important;
}

/* titlebar */
div.base__5e434 {
	margin-top: -32px;
}

pre:has([class^='codeContainer_']) {
	max-width: 95%;
}
pre > [class^='codeContainer_'] {
	max-width: unset !important;
}
