/* discord.com
 * domain
 */

:root {
	--font-code: JetBrainsMono NF, JetBrainsMono Nerd Font, Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New",
		Courier, monospace;
	--font-weight-semibold-1x-light-theme: 500;
	--smooth-black: hsl(0, 0%, 6.7%);
	--gruvbox-white: #d4be98;
	--gruvbox-grey: #928374;
	--shell-pink: #ffafd7;
	--shell-red: #ff2930;
	--shell-yellow: #ffd75f;
	--shell-orange: #ff9f1a;
	--shell-cyan: #00D7FF;
	--shell-grey: #878787;
	--gruvbox-lighter-background: hsl(0, 1%, 19%);
	--gruvbox-background: hsl(0, 1%, 16%);
	--gruvbox-darker-background: hsl(0, 1%, 14%);
	--gruvbox-darkerest-background: hsl(0, 1%, 13%);
	--shell-background-yellow: hsl(60, 10%, 20%);
	--shell-background-orange: hsl(35, 10%, 20%);
	--shell-background-pink: hsl(330, 10%, 20%);
	--shell-background-red: hsl(0, 10%, 20%);
	--shell-background-lighter-yellow: hsl(60, 10%, 23%);
	--shell-background-lighter-pink: hsl(330, 10%, 23%);

	--custom-emoji-size-jumbo-emoji: 2rem;
}

.theme-dark {
	--text-normal: var(--gruvbox-white);
	--text-muted: var(--gruvbox-grey);
	--text-link: var(--shell-yellow);
	--text-brand: var(--shell-yellow);
	--text-positive: var(--shell-yellow);
	--textbox-markdown-syntax: var(--gruvbox-white);
	--header-primary: var(--gruvbox-white);
	--header-secondary: var(--gruvbox-white);
	--primary-400: var(--gruvbox-white);
	--primary-600: var(--gruvbox-background);
	--primary-630: var(--gruvbox-background);
	--green-360: var(--shell-yellow);
	--brand-500: var(--shell-yellow);
	--brand-experiment: var(--shell-yellow);
	--brand-experiment-05a: var(--shell-background-yellow);
	--brand-experiment-10a: var(--shell-background-orange);
	--brand-experiment-15a: var(--shell-background-yellow);
	--brand-experiment-360: var(--gruvbox-white);
	--brand-experiment-400: var(--gruvbox-background);
	--brand-experiment-560: var(--shell-orange);
	--brand-experiment-500: var(--shell-yellow);
	--brand-experiment-600: var(--shell-yellow);
	--interactive-active: var(--shell-yellow);
	--interactive-normal: var(--gruvbox-white);
	--interactive-hover: var(--shell-orange);
	--interactive-muted: var(--gruvbox-grey);
	--channels-default: var(--gruvbox-white);
	--channel-icon: var(--gruvbox-white);
	--channeltextarea-background: var(--gruvbox-lighter-background);
	--channel-text-area-placeholder: var(--gruvbox-grey);
	--background-modifier-selected: var(--gruvbox-lighter-background);
	--background-modifier-active: var(--shell-background-yellow);
	--background-modifier-hover: var(--gruvbox-lighter-background);
	--background-modifier-accent: var(--gruvbox-lighter-background);
	--background-message-highlight: var(--shell-background-yellow);
	--background-message-hover: var(--gruvbox-lighter-background);
	--background-primary: var(--gruvbox-background);
	--background-tertiary: var(--gruvbox-background); /* left side server list */
	--background-secondary: var(--gruvbox-darker-background); /* channels / people */
	--background-secondary-alt: var(--gruvbox-darker-background);
	--background-floating: var(--gruvbox-darkerest-background);
	--background-accent: var(--shell-yellow);
	--background-mentioned: var(--shell-background-yellow);
	--bg-overlay-2: var(--gruvbox-darker-background);
	--scrollbar-auto-track: var(--gruvbox-lighter-background);
	--scrollbar-auto-thumb: var(--gruvbox-darker-background);
	--scrollbar-thin-track: var(--gruvbox-darker-background);
	--scrollbar-thin-thumb: var(--gruvbox-lighter-background);
	--status-danger: var(--shell-red);
	--status-positive-text: var(--smooth-black);
	--status-positive-background: var(--shell-yellow);
	--button-positive-background: var(--shell-yellow);
	--button-positive-background-hover: var(--shell-orange);
	--button-danger-background: var(--shell-red);
	--button-danger-background-active: var(--shell-red);
	--button-danger-background-hover: var(--shell-orange);
	--button-secondary-background: var(--gruvbox-darkerest-background);
	--button-secondary-background-hover: var(--shell-orange);
	--button-outline-primary-text: var(--gruvbox-white);
	--button-outline-primary-text-active: var(--gruvbox-white);
	--button-outline-primary-text-hover: var(--gruvbox-white);
	--button-outline-primary-background-active: var(--shell-background-yellow);
	--button-outline-primary-background-hover: var(--shell-background-orange);
	--button-outline-primary-border: var(--gruvbox-background);
	--button-outline-primary-border-active: var(--shell-yellow);
	--button-outline-primary-border-hover: var(--shell-orange);
	--button-outline-danger-text: var(--gruvbox-white);
	--button-outline-danger-text-hover: var(--smooth-black);
	--button-outline-danger-border: var(--shell-red);
	--button-outline-danger-border-hover: var(--shell-orange);
	--button-outline-danger-background-active: var(--shell-red);
	--button-outline-danger-background-hover: var(--shell-orange);
	--profile-body-background-color: var(--gruvbox-darkerest-background);
	--profile-body-background-hover: var(--shell-orange);
	--mention-background: var(--shell-yellow);
	--mention-foreground: var(--smooth-black);
	--input-background: var(--gruvbox-lighter-background);
	--input-placeholder-text: var(--gruvbox-grey);
	--home-background: var(--gruvbox-darker-background);
	--modal-background: var(--gruvbox-background);
	--modal-footer-background: var(--gruvbox-darker-background);
	--control-brand-foreground: var(--shell-yellow);
	--info-warning-foreground: var(--shell-yellow);
	--embed-title: var(--shell-yellow);
}

/* chat input box */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> div.content__1a4fe
	> div
	> div.chatContainer__23434
	> main
	> form
	> div.channelTextArea__2e60f.channelTextArea__56a36
	> div {
	overflow-y: hidden;
}

/* div that holds the chat input box */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> div.content__1a4fe
	> div
	> div.chatContainer__23434
	> main
	> form
	> div
	> div
	> div {
	padding: 0 11px 0 16px;
}

/* discover button, separator, and "download apps" button */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> nav
	> ul
	> div.scroller__3d071.none__51a8f.scrollerBase_dc3aa9
	> div:nth-last-of-type(-n + 3) {
	display: none;
}

/* create new server button */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> nav
	> ul
	> div.scroller__3d071.none__51a8f.scrollerBase_dc3aa9
	> div.tutorialContainer_dc6fde {
	display: none;
}

#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> nav
	> ul
	> div.scroller__3d071.none__51a8f.scrollerBase_dc3aa9
	div.pill__6b31b.wrapper__3670f {
	display: none;
}

/* top toolbar */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> section {
	padding: 0 5px;
	min-height: 42px;
}

/* information button in top toolbar */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> section
	> div
	> div.toolbar__88c63
	> a {
	display: none;
}

/* show member list button in top toolbar */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> section
	> div
	> div.toolbar__88c63
	> div:nth-child(4) {
	display: none;
}

/* notifications button in top toolbar */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> section
	> div
	> div.toolbar__88c63
	> div:nth-child(2) {
	display: none;
}

/* server banner */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.sidebar_ded4b5
	> nav
	> div.container__7c79d.clickable__2d589
	> header {
	padding: 9px;
}

/* level thinger */
#channels > ul > div.container__4f639.containerWithMargin__7d380 {
	padding: 0 0 11px 4px;
}

/* channel description at the top */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> section
	> div
	> div.children__32014
	> div.topic__16ae3.expandable_ddf73d {
	margin: 4px 0 0 8px;
}

/* upload files button */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div.chat__52833
	> div.content__1a4fe
	> div
	> div.chatContainer__23434
	> main
	> form
	> div
	> div
	> div
	> div.attachWrapper__6354f
	> button {
	padding: 0 12px;
}

/* sticker, gif, emoji pickers */
.buttons_ce5b56 {
	display: none;
}

/* text holder in inputbox */
.fontSize16Padding__48818 {
	padding-top: 8px;
}

/* between last chat message and inputbox */
/* .scrollerSpacer__9cd32 {
	height: 24px;
} */

/* dms nitro */
div.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0
	> ul
	> li:nth-of-type(2) {
	display: none;
}

/* dms "direct messages" separator */
#app-mount
	> div.appAsidePanelWrapper__714a6
	> div.notAppAsidePanel__9d124
	> div.app_b1f720
	> div
	> div.layers__1c917.layers_a23c37
	> div
	> div
	> div
	> div
	> div
	> nav
	> div.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0
	> ul
	> h2 {
	display: none;
}

/* discover servers button */
.circleIconButton_d8df29 {
	color: var(--gruvbox-white);
}

/* discover servers button selected */
.circleIconButton_d8df29.selected__5250e {
	background-color: var(--shell-yellow);
}

/* discord server nitro boosting level */
#channels
	> ul
	> div.container__4f639.containerWithMargin__7d380
	> div.textArea_f2029c
	> div.goalTextContainer_b4492d
	> div {
	color: var(--gruvbox-white) !important;
}

/* strange gradient at the end of top bar */
.theme-dark .children__32014:after {
	background: unset;
}

/* message editing inputbox */
div.channelTextArea_af1f8b.channelTextArea__56a36 > div {
	border: 1px solid var(--shell-yellow);
}

/* holder + connector for "replying to" line */
.attachedBars_da3c74 {
	background: var(--gruvbox-lighter-background);
}
/* "replying to" line */
.replyBar_b64d74 {
	background: var(--gruvbox-lighter-background);
}
/* "replying to" but the place that defines the padding against holder + connector */
div.attachedBars_da3c74 > div {
	padding: 0 !important;
}

/* "accept" friend button */
.lookFilled__19298.colorGreen__5f181 {
	color: var(--smooth-black);
}
/* "ignore" friend button */
.lookFilled__19298.colorPrimary__6ed40 {
	color: var(--gruvbox-white);
}
/* "ignore" friend button on hover */
.lookFilled__19298.colorPrimary__6ed40:hover {
	color: var(--smooth-black);
}

/* user profile background */
.userProfileInnerThemedNonPremium__3d0a6 {
	background: var(--gruvbox-background);
}

/* hovering over mentions */
.interactive:hover {
	color: var(--smooth-black);
	background-color: var(--shell-orange);
}

/* unreacted react hover */
.reaction_fef95b:hover {
	background-color: var(--shell-background-orange);
	border-color: var(--shell-orange);
}

/* find or start a conversation */
.searchBar_e4ea2a .searchBarComponent__22760 {
	background-color: var(--gruvbox-lighter-background);
}

/* ctrl+f search */
.searchBar_e0c60b {
	background-color: var(--gruvbox-lighter-background);
}

/* channels and roles tab hover */
.top__592a7 .brand_ce3ecf.item__48dda:hover {
	border-bottom-color: var(--shell-orange);
}

/* white on vc server 🕪 icon */
.base__92a12 {
	color: var(--smooth-black);
}

.akaBadge__7df41 {
	background-color: var(--gruvbox-darkerest-background);
}

/* browse channels */
.theme-dark .container__7590f {
	background-color: var(--gruvbox-background);
}

/* channel pick checkbox */
div.checkbox_c7f690.box__66058.checked__24ad6 > svg > path,
div.checkbox_c7f690.smallBox__28dd5.checked__24ad6 > svg > path,
.colorDefault__0b482 .check__8d1bd {
	fill: var(--smooth-black);
}

.colorDefault__0b482:active:not(.hideInteraction__2790e) {
	color: var(--smooth-black);
}

/* disable account button */
.lookFilled__19298.colorRed_d6b062:hover {
	color: var(--smooth-black);
}

/* react inputbox */
.container_e4c233 {
	background-color: var(--gruvbox-lighter-background);
}

.colorDefault__0b482.focused__27621 .subtext__8a015 {
	color: var(--smooth-black);
}
.colorDefault__0b482.focused__27621 .checkbox__45366,
.colorDefault__0b482.focused__27621 .radioSelection__5ed39,
.colorDefault__0b482.focused__27621 .caret_ce50ce {
	color: var(--shell-yellow);
}

.theme-dark .lookLink__93965.colorPrimary__6ed40 {
	color: var(--gruvbox-white);
}

/* channels and roles menu background */
.theme-dark .container__10dc7,
.theme-dark .header__60bef,
.theme-dark .scrollerContainer_bf5dbd,
.theme-dark .emptyPage__3e15d {
	background-color: var(--gruvbox-background);
}

/* normal selected button, like in ∴ friend floating menu */
.colorDefault__0b482.focused__27621,
/* in a dm, "accept" friend button */
.lookFilled__19298.colorBrand_b2253e.sizeTiny__1b8a2.grow__4c8a4,
/* "wave to [blank]" text */
.lookFilled__19298.colorBrand_b2253e,
/* n new messages top status bar */
.barButtonBase__8fa46,
.botTagRegular_c89c9a {
	color: var(--smooth-black);
}

/* discover servers searchbox */
.search_e47903 .searchBox__88a98 {
	background-color: var(--gruvbox-background);
}
/* discover servers searchbox input */
input.inputDefault__80165.input_d266e7.searchBoxInput__73c9c.searchBoxInput_bbea1c {
	color: var(--gruvbox-white);
}

div.clear_a52805 > svg.clearIcon__91449.closeIcon__3dfb5 > path {
	fill: var(--gruvbox-white);
}

/* slash commands background */
div.scroller_e89578.list__0870a.thin_b1c063.scrollerBase_dc3aa9 {
	background-color: var(--gruvbox-lighter-background);
}

/* live badge */
.live_b195a5.liveSmall_ca35ec.eyebrow__847c8.textBadge__45d79.base__92a12.eyebrow__60985.liveShapeRound__811c0 {
	background-color: var(--shell-yellow) !important;
}

/* slash command input */
.selectedPill_f3e999 {
	border-color: var(--shell-yellow) !important;
}

/* slowmode / cooldown notice */
div.cooldownWrapper_de448f {
	color: var(--gruvbox-white) !important;
}

/* sound icon on the "n in voice" badge on the bottom left */
svg.voiceChannelsIcon__98792 > path {
	fill: var(--shell-yellow) !important;
}

/* normal user role color */
span.username_d30d99.desaturateUserColors_b72bd3.clickable_d866f1 {
	color: var(--shell-yellow);
}

/* voice channel live badge to the right */
div.textBadge__45d79.base__92a12.eyebrow__60985.baseShapeRound__95d0f {
	background-color: var(--shell-yellow) !important;
}

/* checkmark on Channels & Roles extra channels buttons */
div.checkIcon__5aa1f > svg > path {
	fill: var(--smooth-black) !important;
}

/* in-vc buttons */
.button__66e8c .buttonColor_a6eb73, .button__66e8c.buttonColor_a6eb73 {
	background-color: var(--shell-yellow);
}

/* op badge */
.botTagOP_e48ddb {
	background-color: var(--shell-yellow);
}

/* green border around a person speaking */
.border_d9a17b.speaking__9b95a {
	box-shadow: inset 0 0 0 2px var(--shell-yellow),inset 0 0 0 3px var(--black-500);
}

/* live badge in top toolbar of watched vc */
.live_b195a5.liveLarge__9308a.textBadge__45d79.base__92a12.eyebrow__60985.liveShapeRoundRight__35bb2 {
	background-color: var(--shell-red) !important;
}

/* vc resolution badge background */
.liveQualityIndicator_e98ef7.qualityIndicatorBadge__7974c.textBadge__45d79.base__92a12.eyebrow__60985.baseShapeRoundLeft__99acd {
	background-color: var(--shell-yellow) !important;
}

/* vc resolution text */
.liveQualityIndicator_e98ef7.qualityIndicatorBadge__7974c.textBadge__45d79.base__92a12.eyebrow__60985.baseShapeRoundLeft__99acd > *,
.premiumStreamIcon__5ddbc {
	color: var(--smooth-black);
}

/* stop watching stream vc button */
.colorable_c84c4c.red_a51ba8 {
	background-color: var(--shell-red);
}

/* clips enabled vc badge */
.clipBadgeText_f5874d.liveLarge__9308a.textBadge__45d79.base__92a12.eyebrow__60985.baseShapeRoundRight__556f4,
.clipBadgeIcon_a9441c.iconBadge__2abac.base__92a12.eyebrow__60985.baseShapeRoundLeft__99acd {
	background-color: var(--shell-yellow) !important;
}

/* border around speaking person in channel list */
.avatarSpeaking_c95053 {
	box-shadow: inset 0 0 0 2px var(--shell-yellow),inset 0 0 0 3px var(--background-secondary);
}

/* buttons in vc */
.controlIcon__25700 {
	color: var(--gruvbox-white);
}

/* vc title */
.playingText_f2f60c {
	color: var(--gruvbox-white);
}

/* vc big button on hover */
.colorable_c84c4c.primaryDark__6b700.active_ff29dc, .colorable_c84c4c.primaryDark__6b700:hover {
	background: var(--shell-background-orange);
}

/* vc big button */
.colorable_c84c4c.primaryDark__6b700 {
	background: var(--gruvbox-background);
}

/* unactivated big vc button symbol */
.colorable_c84c4c.primaryDark__6b700, .colorable_c84c4c.primaryDark__6b700 .centerIcon__6075a {
	color: var(--gruvbox-white);
}

/* activated big vc button symbol */
.colorable_c84c4c.white__10e89 {
	background: var(--shell-yellow);
}

/* hover big vc button symbol */
.colorable_c84c4c.white__10e89.active_ff29dc, .colorable_c84c4c.white__10e89:hover {
	background: var(--shell-orange);
}

/* hover on red big vc button symbol */
.colorable_c84c4c.red_a51ba8.active_ff29dc, .colorable_c84c4c.red_a51ba8:hover {
	background: var(--shell-orange);
}

/* number of reacts */
.reaction_fef95b.reactionMe__98f57 .reactionCount_b49901 {
	color: var(--gruvbox-white);
}

/* "find or start a conversation" in dms */
.searchBar_e4ea2a {
	height: 42px;
}

/* active channel icon */
.modeSelected__487d6 .icon_eff5d4 {
	color: var(--shell-yellow);
}

/* hovered channel icon */
.modeSelected__487d6:hover .icon_eff5d4,
div.iconVisibility__62ab5.wrapper__7bcde.typeDefault__05b19:hover .icon_eff5d4 {
	color: var(--shell-orange);
}

/* hovered channel name */
.modeSelected__487d6:hover .name__8d1ec {
	color: var(--shell-orange);
}

/* white buttons in a vc window */
.controlIcon__25700:hover {
	color: var(--shell-orange);
}

/* invite button in vc window */
.buttonColor_fa1bb3:hover {
	background-color: var(--shell-background-orange);
}

/* invite vc window button text */
.buttonColor_fa1bb3 {
	color: var(--gruvbox-white);
}

/* active vc icon */
div.iconVisibility__62ab5.wrapper__7bcde.modeConnected__1c02e.typeVoice_f4ba92 .icon_eff5d4 {
	color: var(--shell-yellow);
}

/* hovered vc chat icon */
div.iconVisibility__62ab5.wrapper__7bcde.typeVoice_f4ba92:hover .icon_eff5d4 {
	color: var(--shell-orange);
}

/* hovered active vc chat icon */
div.iconVisibility__62ab5.wrapper__7bcde.modeConnected__1c02e.typeVoice_f4ba92:hover .icon_eff5d4 {
	color: var(--shell-yellow);
}

/* vc window with no people "choose an activity" yellow button text */
div.buttonContainer__1a3e8 > button.button__908fa.button_afdfd9.lookFilled__19298.colorBrand_b2253e.sizeLarge__9049d.grow__4c8a4 > div.contents_fb6220.buttonContents_b350d4 > div.defaultColor__77578.text-sm-medium__1ba28 {
	color: var(--smooth-black);
}

/* vc window with no people "invite friends" grey button */
div.buttonContainer__1a3e8 > button.button__908fa.button_afdfd9.lookFilled__19298.colorPrimary__6ed40.sizeLarge__9049d.grow__4c8a4 {
	background-color: var(--gruvbox-lighter-background);
}
div.buttonContainer__1a3e8 > button.button__908fa.button_afdfd9.lookFilled__19298.colorPrimary__6ed40.sizeLarge__9049d.grow__4c8a4:hover {
	background-color: var(--shell-background-orange);
}

/* vc window with no people "invite friends" person icon */
div.buttonContainer__1a3e8 > button.button__908fa.button_afdfd9.lookFilled__19298.colorPrimary__6ed40.sizeLarge__9049d.grow__4c8a4 > div > svg {
	color: var(--gruvbox-white);
}

/* unread channel */
.modeUnreadImportant_efb53e:hover .name__8d1ec {
	color: var(--shell-orange);
}

div.iconCircle_de71da > svg > path {
	fill: var(--smooth-black) !important;
}

/* vc chat */
div.container_def45c.floating_f021e2 {
	width: 600px !important;
}

/* container for both vertical line and blockquote */
div.blockquoteContainer_f24d1f {
	margin: 5px 0;
}

/* vertical line that indicates a > */
.blockquoteDivider__96157 {
	background-color: var(--shell-yellow);
}

/* blockquote inside of chat */
div.slateBlockquoteContainer_c8209b > blockquote {
	background-color: var(--shell-background-lighter-yellow);
}

/* blockquote when in chat, not in inputbox */
div.blockquoteContainer_f24d1f:not(.slateBlockquoteContainer_c8209b) > blockquote {
	background-color: var(--shell-background-yellow);
}

blockquote {
	padding: 2px 7px 2px 7px !important;
	border-radius: 0 5px 5px 0;
}

/* selected message to reply to */
.replying_d7b6ad {
	background-color: var(--shell-background-orange);
}
/* vertical bar before the message to reply to */
.replying_d7b6ad:before {
	background-color: var(--shell-orange);
}

/* "SEARCH FOR:" text after you type something in in ctrl+f search */
.theme-dark .queryContainer_c359fe {
	color: var(--gruvbox-white);
}

/* the actual text after "SEARCH FOR:" */
.theme-dark .queryContainer_c359fe > div.queryText__5bb6b strong {
	color: var(--gruvbox-white);
}

/* background color holding the "SEARCH FOR: text ENTER" thingy */
.theme-dark .focused_f9cf2c {
	background-color: var(--gruvbox-darkerest-background);
}

/* keyboard key letters within yellow boxes */
.theme-dark .dim__7b9b1 .key__06fe6 {
	color: var(--smooth-black);
	background-color: var(--shell-yellow);
}

/* weird black gradient to the right of dates in ctrl+f search */
.option_b5597b:after {
	display: none;
}

/* restart video button */
div.videoButton__1a553 > svg > path,
/* volume button */
div > div > div.videoControls__96149 > div.flex__909d4 > div > button > div > svg > path {
	fill: var(--gruvbox-white);
}

rect[mask="url(#svg-mask-status-dnd)"] {
	fill: var(--shell-red) !important;
}
/* rect[mask^="url(#svg-mask-status-online"] {
	fill: var(--shell-cyan) !important;
} */
rect[mask="url(#svg-mask-status-offline)"] {
	fill: var(--shell-grey) !important;
}
rect[mask="url(#svg-mask-status-idle)"] {
	fill: var(--shell-yellow) !important;
}

/* hovered message that's also a mention */
.theme-dark.mouse-mode.full-motion .message__80c10:hover {
	background: var(--shell-background-orange);
}