/* starts with
 * https://myanimelist.net/anime/season
 */

.dark-mode .seasonal-anime-list .seasonal-anime {
	width: auto;
	height: auto;

	.title {
		width: auto;

		.title-text {
			width: auto;
		}
	}

	.synopsis {
		width: auto;
		height: auto;
		font-size: 12pt;
	}
}