/* https://www.pixiv.net/en/artworks */
/* urls starting with */

body {
  min-width: unset;

  >div>div[data-overlay-container="true"]>div {

    /* top bar */
    >div.sc-63818093-0 {
      display: none;
    }

    >div.__top_side_menu_body div.sc-8d5ac044-1.pEkOH {
      /* margin-inline: 0; */
      padding: 0;

      >div.sc-ec862ae6-3 {
        margin-top: 0;
        padding-bottom: 0;

        /* sidebar, with artist */
        >aside.sc-ec862ae6-8 {
          display: none;
        }

        >main {
          width: 100%;

          section.sc-55920ee2-1.sc-55920ee2-2.bNBzcc.iFIbHj {
            border-radius: 0;

            figure {
              img.sc-440d5b2c-1.jnuqJZ {
                height: auto !important;
                max-height: 80vh !important;
              }

              [role="presentation"] {
                margin-top: 30px;
              }
            }

            /* like button and other stuff */
            section.sc-afc25555-0.fWItwu {
              justify-content: center;
            }

            /* title / description */
            figcaption>div.sc-c5ac099-13.eXMoIT {
              margin: unset !important;

              /* the actual text contained */
              >div.sc-c5ac099-14.gNYdKJ {
                width: 800px;
              }
            }
          }
        }
      }
    }
  }
}