/*https://vk.com/im*/

/* mini dialogs at the bottom right */
.FCPanel {
	display: none;
}

/* add and info thingies at the left */
div.left_menu_nav_wrap {
	display: none;
}

/* dialog insides that introduce scrolling */
.im-page {
	padding-top: 2.7px;
	padding-bottom: 3px;
	height: calc(100vh - 5.7px - var(--header-height));
}

/* separator used in the left nav */
#react_rootLeftMenuRoot > div > nav > ol > div {
	display: none;
}

/* bookmarks */
#l_fav {
	display: none;
}

/* files */
#l_doc {
	display: none;
}

/* market */
#l_mk {
	display: none;
}

/* розыгрыш */
#l_vkfest2023 {
	display: none;
}

/* left side inside of the message panel that contains the up menu and the down useless "showing all messages" */
.im-page .im-page--dialogs {
	padding: 48px 0 0;
}

/* useless "showing all messages" */
#content > div > div > div.im-page--dialogs._im_page_dialogs.page_block > div.im-page--dialogs-footer._im_dialogs_footer {
	display: none;
}

/* recommended by ad thing */
.LegalRecommendationsLinkLeftMenuAuthorized {
	display: none;
}

/* separator for the recommended by ad thing */
.WideSeparator.WideSeparator--legalRecommendationsLink {
	display: none;
}