/* status bar paint button */
#be5invis.vscode-custom-css {
	display: none;
}

/* triple dot button at the top right for editor actions */
div.editor-actions {
	display: none;
}

/* any git diff */
div.cldr.dirty-diff-glyph {
	left: unset !important;
	margin-left: unset !important;
}


/* the reason for why we're using a background image when really, we mean background color is because if we use the latter, it's twice as big. I imagine background image also depends on something else that makes it be a certain size, and it also keeps being configurable via vscode settings */
/* git addition glyph background  */
.monaco-editor .dirty-diff-added-pattern,
.monaco-editor .dirty-diff-added-pattern:before {
	background-image: linear-gradient(
		0,
		var(--vscode-editorGutter-addedBackground),
		var(--vscode-editorGutter-addedBackground)
	);
}
/* git modification glyph background */
.monaco-editor .dirty-diff-modified-pattern,
.monaco-editor .dirty-diff-modified-pattern:before {
	background-image: linear-gradient(
		0,
		var(--vscode-editorGutter-modifiedBackground),
		var(--vscode-editorGutter-modifiedBackground)
	);
}
