/* status bar paint button */
#be5invis.vscode-custom-css {
	display: none;
}

/* triple dot button at the top right for editor actions */
div.editor-actions {
	display: none;
}

/* git addition glyph background */
.monaco-editor .dirty-diff-added-pattern, .monaco-editor .dirty-diff-added-pattern:before {
	background-image: none;
	background-color: var(--vscode-editorGutter-addedBackground);
}
/* git addition glyph */
div.cldr.dirty-diff-glyph.dirty-diff-added-pattern {
	width: 7% !important;
}

/* git modification glyph background */
.monaco-editor .dirty-diff-modified-pattern {
	background-image: none;
	background-color: var(--vscode-editorGutter-modifiedBackground);
}
/* git modification glyph */
div.cldr.dirty-diff-glyph.dirty-diff-modified-pattern {
	width: 7% !important;
}