/* youtube.com
 * studio.youtube.com
 * domain
 */

/* switcher header */
#header.style-scope.ytd-account-section-list-renderer,
/* pre-switcher header */
#contentWrapper > ytd-multi-page-menu-renderer > #header,
/* undeletable non-business channel */
#contents > ytd-account-item-renderer:nth-child(1),
/* special channel name in selector */
#contents > ytd-account-item-renderer:nth-child(5) yt-formatted-string,
/* pfps in switcher */
#contentIcon,
/* sign out */
yt-multi-page-menu-section-renderer:first-of-type
	> #items
	> ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(3),
/* shorts in right hand side watch later */
ytd-reel-shelf-renderer.style-scope.ytd-item-section-renderer,
/* viewer count */
.value.viewers.style-scope.ytls-broadcast-metadata,
/* yt shorts */
ytd-rich-shelf-renderer,
/* channel name on the left */
#entity-name,
/* profile picture on the left
alt text is displayed without wpcc */
#left-nav > div.thumbnail-wrapper.thumbnail-wrapper-channel.style-scope.ytcp-navigation-drawer.style-scope.ytcp-navigation-drawer > ytcp-animatable > img,
/* entire header of the before switcher menu */
#header.style-scope.ytd-multi-page-menu-renderer,
/* sign out in switcher */
#items.style-scope.yt-multi-page-menu-section-renderer > ytd-compact-link-renderer:nth-child(4),
/* switcher header */
#header.style-scope.ytd-account-section-list-renderer,
/* first undeletable channel in switcher */
#contents.style-scope.ytd-account-item-section-renderer > ytd-account-item-renderer:nth-child(1),
/* special channel */
#contents.style-scope.ytd-account-item-section-renderer > ytd-account-item-renderer:nth-child(5) yt-formatted-string,
/* blue notification markers in notification popout */
div#new.ytd-notification-renderer {
	display: none;
}

/* holder of each notification */
a.yt-simple-endpoint.ytd-notification-renderer {
	margin-left: 24px;
}

/* scrollbar of the left side preview of the playlist */
.immersive-header-content.ytd-playlist-header-renderer {
	overflow-y: hidden;
}
