helix/runtime
awesome/rc.lua
helix/config.toml
helix/pager.toml
helix/screen.toml
__pycache__
yazi/plugins/jump-to-char.yazi
yazi/plugins/open-with-cmd.yazi
yazi/plugins/compress.yazi
yazi/plugins/toggle-pane.yazi
helix/quit.toml
stdext/Cargo.lock
stdext/target
