helix/runtime
awesome/rc.lua
helix/wrap-off.toml
helix/config.toml
helix/man.toml
__pycache__
yazi/plugins/hide-preview.yazi
yazi/plugins/chmod.yazi
yazi/plugins/jump-to-char.yazi
yazi/plugins/open-with-cmd.yazi
