__pycache__
awesome/rc.lua
eww/plugins/
fish/abbreviations.fish
helix/config.toml
helix/man.toml
helix/pager.toml
helix/pure.toml
helix/quit.toml
helix/runtime
helix/screen.toml
helix/sleek.toml
helix/testing.toml
qs/.qmlls.ini
stdext/Cargo.lock
stdext/target
yazi/package.toml
yazi/plugins/compress.yazi
yazi/plugins/jump-to-char.yazi
yazi/plugins/open-with-cmd.yazi
yazi/plugins/ouch.yazi
yazi/plugins/toggle-pane.yazi
yazi/plugins/types.yazi
