.shell {
	--red: #ff2930;
	--orange: #ff9f1a;
	--yellow: #ffd75f;
	--salad: #87ff5f;
	--green: #3dff47;
	--cyan: #00d7ff;
	--purple: #af87ff;
	--pink: #ffafd7;
	--coral: #ff8787;
	--grey: #878787;
}

.gruvbox-material {
	--red: #ea6962;
	--orange: #e6943d;
	--yellow: #d1a954;
	--green: #a9b665;
	--mint: #78bf84;
	--cyan: #7daea3;
	--purple: #e392b2;
	--white: #d4be98;
	--grey: #928374;
}

.gruvbox-material.background {
	--lighterest: hsl(0, 1%, 25%);
	--lighter: hsl(0, 1%, 19%);
	--level: hsl(0, 1%, 16%);
	--darker: hsl(0, 1%, 14%);
	--darkerest: hsl(0, 1%, 12%);
	--darkness: hsl(0, 1%, 10%);
}
.gruvbox-material.background.hex {
	--lighterest: #403f3f;
	--lighter: #313030;
	--level: #292828;
	--darker: #242323;
	--darkerest: #1f1e1e;
	--darkness: #1a1919;
}

.chart {
	--red: #e94c3d;
	--orange: #e67d22;
	--yellow: #eec110;
	--green: #2fcc72;
	--blue: #3497da;
}

.extra {
	--micha-pink: #ffaa99;
	--smooth-black: #0f0f0f;
}
