.gruvbox-material {
	--red: #ea6962 hsl(3, 76.4%, 65.1%) rgb(234, 105, 98);
	--orange: #e49641 hsl(31, 75.1%, 57.5%) rgb(228, 149, 65);
	--yellow: #d3ad5c hsl(41, 57.5%, 59.4%) rgb(211, 173, 92);
	--green: #a9b665 hsl(70, 35.7%, 55.5%) rgb(169, 182, 101);
	--mint: #78bf84 hsl(130, 35.7%, 61%) rgb(120, 191, 132);
	--cyan: #7daea3 hsl(167, 23.2%, 58.6%) rgb(125, 174, 163);
	--purple: #b58cc6 hsl(282, 33.7%, 66.3%) rgb(181, 140, 198);
	--blush: #e491b2 hsl(336, 60.6%, 73.1%) rgb(228, 145, 178);
	--white: #d4be98 hsl(38, 41.1%, 71.4%) rgb(212, 190, 152);
	--grey: #928374 hsl(30, 12.1%, 51.4%) rgb(146, 131, 116);
}

.greys {
	--light30: #4d4c4c hsl(0, 1.2%, 30%) rgb(77, 76, 76);
	--light23: #3b3a3a hsl(0, 1.2%, 23%) rgb(59, 58, 58);
	--light22: #393737 hsl(0, 1.2%, 22%) rgb(57, 55, 55);
	--light21: #363535 hsl(0, 1.2%, 21%) rgb(54, 53, 53);
	--light20: #343232 hsl(0, 1.2%, 20%) rgb(52, 50, 50);
	--light19: #313030 hsl(0, 1.2%, 19%) rgb(49, 48, 48);
	--light18: #2e2d2d hsl(0, 1.2%, 18%) rgb(46, 45, 45);
	--light17: #2c2b2b hsl(0, 1.2%, 17%) rgb(44, 43, 43);
	--level: #292828 hsl(0, 1.2%, 16%) rgb(41, 40, 40);
	--dark15: #272626 hsl(0, 1.2%, 15%) rgb(39, 38, 38);
	--dark14: #242323 hsl(0, 1.2%, 14%) rgb(36, 35, 35);
	--dark13: #222121 hsl(0, 1.2%, 13%) rgb(34, 33, 33);
	--dark12: #1f1e1e hsl(0, 1.2%, 12%) rgb(31, 30, 30);
	--dark11: #1c1c1c hsl(0, 1.2%, 11%) rgb(28, 28, 28);
	--dark10: #1a1919 hsl(0, 1.2%, 10%) rgb(26, 25, 25);
}

.shell {
	--red: #ff2930 hsl(358, 100%, 58%) rgb(255, 41, 48);
	--orange: #ff9f1a hsl(35, 100%, 55.1%) rgb(255, 160, 26);
	--yellow: #ffd75f hsl(45, 100%, 68.6%) rgb(255, 215, 95);
	--salad: #87ff5f hsl(105, 100%, 68.6%) rgb(135, 255, 95);
	--green: #3dff47 hsl(123, 100%, 62%) rgb(61, 255, 71);
	--cyan: #00d7ff hsl(189, 100%, 50%) rgb(0, 217, 255);
	--blue: #8599ff hsl(230, 100%, 76.1%) rgb(133, 153, 255);
	--purple: #af87ff hsl(260, 100%, 76.5%) rgb(175, 135, 255);
	--pink: #ffafd7 hsl(330, 100%, 84.3%) rgb(255, 175, 215);
	--coral: #ff8787 hsl(0, 100%, 76.5%) rgb(255, 135, 135);
	--grey: #878787 hsl(0, 0%, 52.9%) rgb(135, 135, 135);
}

.supporters {
	--purple-supporting: #5c404b hsl(336, 17.7%, 30.5%);
	--orange-supporting: #5f472d hsl(31, 35.7%, 27.5%) rgb(95, 71, 45);
	--yellow-supporting: #68622c hsl(54, 40.5%, 29%);
}

.extra {
	--smooth-black: #0f0f0f;
	--neat-orange: #f2694c;
}

.custom.helix {
	--selected-entry: #3f3831 hsl(31, 13%, 22%);
	--picker-entry: #4b433a hsl(31, 13%, 26%);
	--line-number: #6f675a;
	--scrollbar: #9b8e77;
}

.custom.browser {
	--white-base-tab: hsl(38, 3%, 25%) rgb(66, 64, 62);
	--hover: hsla(38, 3%, 25%, 0.7);
}
