@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

/* history related menu in the top left corner */
#firefox-view-button,
/* top right dropdown button for tabs */
#alltabs-button,
#new-tab-button,
#scrollbutton-up,
#scrollbutton-down,
.tab-close-button {
	display: none !important;
}

#tabbrowser-tabs {
	border-inline-start: none !important;
	padding-inline-start: 0 !important;
	margin-inline-start: 0 !important;
}

#navigator-toolbox {
	border-bottom: none !important;

	.tabbrowser-tab {
		padding: 0 !important;

		.tab-background {
			border-radius: 0px !important;
			margin-block: 0px !important;
			/***/
			min-height: 16px !important;
			outline: unset !important;
			/***/
			outline-offset: 0px !important;
			/***/
			box-shadow: unset !important;

			&[selected] {
				background-color: #5f472d !important;
			}
		}

		.tab-content {
			.tab-label-container {
				height: 2em !important;
			}
		}
	}

	> #nav-bar {
		border-top: 0 !important;
		background-color: #292828 !important;

		> #nav-bar-customization-target {
			> #back-button,
			> #forward-button {
				display: none !important;
			}

			> #urlbar-container {
				margin-inline: 0px !important;
				min-height: unset !important;
				/* align-items: unset !important; */
				padding-block: 0 !important;
				/* --urlbar-container-height: 15px !important; */

				> #urlbar {
					font-size: unset !important;

					> #urlbar-background {
						background-color: unset !important;
					}

					> .urlbar-input-container {
						border: none !important;
						padding: 0 0 0 6px !important;

						> #tracking-protection-icon-container {
							display: none !important;
						}

						> #page-action-buttons {
							> #urlbar-zoom-button {
								font-size: unset !important;
								padding: 0 !important;
								border-radius: unset !important;
								background-color: unset !important;
								margin-block: unset !important;
								margin-inline: unset !important;
							}

							> #star-button-box {
								display: none !important;
							}
						}

						> #identity-box {
							display: none !important;
						}
					}
				}
			}
		}
	}
}
