[mgr]
keymap = [
  # [[sort on]]
  # { on = '<', run = 'tab_switch -1 --relative', desc = 'Switch to the previous tab' },
  # { on = '>', run = 'tab_switch 1 --relative', desc = 'Switch to the next tab' },
  # { on = '{', run = 'tab_swap -1', desc = 'Swap current tab with previous tab' },
  # { on = '}', run = 'tab_swap 1', desc = 'Swap current tab with next tab' },
  { on = '!', run = 'unyank', desc = 'Cancel the yank status' },
  { on = '%', run = 'toggle_all --state=true', desc = 'Select all' },
  { on = '*', run = 'plugin first-non-directory', desc = 'Go to first non-directory' },
  { on = '.', run = 'hidden toggle', desc = 'Toggle the visibility of hidden files' },
  { on = '/', run = 'find --smart', desc = 'Find next file' },
  { on = '1', run = 'tab_switch 0', desc = 'Switch to tab 1' },
  { on = '2', run = 'tab_switch 1', desc = 'Switch to tab 2' },
  { on = '3', run = 'tab_switch 2', desc = 'Switch to tab 3' },
  { on = '4', run = 'tab_switch 3', desc = 'Switch to tab 4' },
  { on = '5', run = 'tab_switch 4', desc = 'Switch to tab 5' },
  { on = '6', run = 'tab_switch 5', desc = 'Switch to tab 6' },
  { on = '7', run = 'tab_switch 6', desc = 'Switch to tab 7' },
  { on = '8', run = 'tab_switch 7', desc = 'Switch to tab 8' },
  { on = '9', run = 'tab_switch 8', desc = 'Switch to tab 9' },
  { on = ';', run = 'escape --select', desc = 'Deselect all files' },
  { on = '<A-Space>', run = [ 'plugin blammo', 'quit' ], desc = 'Exit the process' },
  { on = '<C-7>', run = 'paste --force', desc = 'Paste yanked files (overwrite if the destination exists)' },
  { on = '<C-A-End>', run = [ 'visual_mode', 'arrow bot', 'escape --visual' ], desc = 'Select to bottom' },
  { on = '<C-A-Home>', run = [ 'visual_mode', 'arrow top', 'escape --visual' ], desc = 'Select to top' },
  { on = '<C-End>', run = 'arrow bot', desc = 'Go to bottom' },
  { on = '<C-Home>', run = 'arrow top', desc = 'Go to top' },
  { on = '<C-c>', run = 'yank', desc = 'Yank selected files (copy)' },
  { on = '<C-j>', run = [ 'toggle --state=off', 'arrow 1', 'toggle --state=off' ], desc = 'Deselect and move down' },
  { on = '<C-k>', run = [ 'toggle --state=off', 'arrow -1', 'toggle --state=off' ], desc = 'Deselect and move up' },
  { on = '<C-v>', run = 'paste', desc = 'Paste yanked files' },
  { on = '<C-x>', run = 'yank --cut', desc = 'Yank selected files (cut)' },
  { on = '<C-z>', run = [ 'plugin blammo', 'suspend' ], desc = 'Suspend the process' },
  { on = '<Down>', run = 'arrow 1', desc = 'Move cursor down' },
  { on = '<Enter>', run = [ 'plugin smart-enter' ], desc = 'Open selected files' },
  { on = '<Esc>', run = 'escape --find --filter --search', desc = 'Cancel most things' },
  { on = '<F1>', run = 'help', desc = 'Help' },
  { on = '<F2>', run = [ 'plugin blammo', 'shell --orphan -- footclient' ], desc = 'Launch terminal here' },
  { on = '<F3>', run = [ 'plugin blammo', 'shell --orphan -- footclient -T floating' ], desc = 'Launch floating terminal here' },
  { on = '<PageDown>', run = 'arrow 50%', desc = 'Scroll down by half a page' },
  { on = '<PageUp>', run = 'arrow -50%', desc = 'Scroll up by half a page' },
  { on = '<S-PageDown>', run = 'seek 5', desc = 'Scroll preview down' },
  { on = '<S-PageUp>', run = 'seek -5', desc = 'Scroll preview up' },
  { on = '<Tab>', run = 'spot', desc = 'Spot' },
  { on = '<Up>', run = 'arrow -1', desc = 'Move cursor up' },
  { on = '?', run = 'find --previous --smart', desc = 'Find previous file' },
  { on = 'C', run = 'search rg', desc = 'Search files by content using ripgrep' },
  { on = 'D', run = 'remove --permanently --force', desc = 'Delete selected' },
  { on = 'E', run = 'shell --block -- helix', desc = 'Open editor here' },
  { on = 'H', run = 'back', desc = 'Go back to the previous directory' },
  { on = 'I', run = 'plugin toggle-pane min-preview', desc = 'Toggle preview' },
  { on = 'J', run = [ 'toggle --state=on', 'arrow 1', 'toggle --state=on' ], desc = 'Extend and move down' },
  { on = 'K', run = [ 'toggle --state=on', 'arrow -1', 'toggle --state=on' ], desc = 'Extend and move up' },
  { on = 'L', run = 'forward', desc = 'Go forward to the next directory' },
  { on = 'N', run = 'find_arrow --previous', desc = 'Go to the previous found' },
  { on = 'T', run = 'close', desc = 'Close the current tab, or quit if it is last tab' },
  { on = 'U', run = 'create --force --dir', desc = 'Create a directory' },
  { on = 'b', run = 'tasks:show', desc = 'Show task manager' },
  { on = 'c', run = 'search fd', desc = 'Search files by name using fd' },
  { on = 'd', run = 'remove --force', desc = 'Trash selected' },
  { on = 'e', run = 'shell --block -- helix %s', desc = 'Open file in editor' },
  { on = 'f', run = 'plugin direct-zoxide', desc = 'Type in zoxide query to cd into' },
  { on = 'h', run = [ 'leave', 'shell -- zoxide add .' ], desc = 'Go back to the parent directory' },
  { on = 'i', run = 'plugin fzf-but-open', desc = 'Pick a file to open with fzf' },
  { on = 'j', run = 'arrow 1', desc = 'Down' },
  { on = 'k', run = 'arrow -1', desc = 'Up' },
  { on = 'l', run = [ 'enter', 'shell -- zoxide add .' ], desc = 'Enter the child directory' },
  { on = 'n', run = 'find_arrow', desc = 'Go to the next found' },
  { on = 'o', run = 'shell --block -- gomi -b', desc = 'Restore trashed files' },
  { on = 'r', run = 'rename --cursor=before_ext', desc = 'Rename selected file(s)' },
  { on = 't', run = 'tab_create --current', desc = 'Create a new tab with CWD' },
  { on = 'u', run = 'create --force', desc = 'Create a blob' },
  { on = 'v', run = 'shell --orphan -- ripdrag -A %s', desc = 'Drag & Drop' },
  { on = 'w', run = 'toggle', desc = 'Toggle select hovered file' },
  { on = 'x', run = 'filter --smart', desc = 'Filter' },
  { on = '~', run = 'toggle_all', desc = 'Inverse selection of all files' },
  { on = [ '<C-d>', '<C-d>' ], run = 'linemode none', desc = 'No linemode' },
  { on = [ '<C-d>', 'd' ], run = 'linemode size', desc = 'Linemode: size' },
  { on = [ '<C-d>', 'e' ], run = 'linemode permissions', desc = 'Linemode: permissions' },
  { on = [ '<C-d>', 'f' ], run = 'linemode owner', desc = 'Linemode: owner' },
  { on = [ '<C-d>', 's' ], run = 'linemode mtime', desc = 'Linemode: modified time' },
  { on = [ '<C-d>', 'w' ], run = 'linemode btime', desc = 'Linemode: birth time' },
  { on = [ '<C-s>', '<C-d>' ], run = [ 'sort size --reverse --dir-first=no', 'linemode size' ], desc = 'Sort by size (reverse)' },
  { on = [ '<C-s>', '<C-e>' ], run = [ 'sort extension --reverse --dir-first=yes' ], desc = 'Sort by extension (reverse)' },
  { on = [ '<C-s>', '<C-f>' ], run = [ 'sort natural --reverse' ], desc = 'Sort naturally (reverse)' },
  { on = [ '<C-s>', '<C-s>' ], run = [ 'sort mtime --reverse --dir-first=yes', 'linemode mtime' ], desc = 'Sort by modified time (reverse)' },
  { on = [ '<C-s>', '<C-w>' ], run = [ 'sort btime --reverse --dir-first=yes', 'linemode btime' ], desc = 'Sort by created time (reverse)' },
  { on = [ '<C-s>', 'd' ], run = [ 'sort size --reverse=no --dir-first=no', 'linemode size' ], desc = 'Sort by size' },
  { on = [ '<C-s>', 'e' ], run = [ 'sort extension --reverse=no --dir-first=yes' ], desc = 'Sort by extension' },
  { on = [ '<C-s>', 'f' ], run = [ 'sort natural --reverse=no' ], desc = 'Sort naturally' },
  { on = [ '<C-s>', 'r' ], run = [ 'sort random --reverse=no --dir-first=yes' ], desc = 'Sort randomly' },
  { on = [ '<C-s>', 's' ], run = [ 'sort mtime --reverse=no --dir-first=yes', 'linemode mtime' ], desc = 'Sort by modified time' },
  { on = [ '<C-s>', 'w' ], run = [ 'sort btime --reverse=no --dir-first=yes', 'linemode btime' ], desc = 'Sort by created time' },
  { on = [ '<Space>', 'i' ], run = 'shell --block -- hexpatch %s', desc = 'Open file in hex editor' },
  { on = [ '<Space>', 'w' ], run = 'shell -- swayimg -g %s', desc = 'Open gallery here' },
  { on = [ 'g', 'h' ], run = 'cd ~', desc = 'Go home' },
  { on = [ 'g', 'q' ], run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"', desc = 'Go to repo root' },
  { on = [ 'm', 'M' ], run = 'shell -- chmod +x %s', desc = 'Chmod +x' },
  { on = [ 'm', 'X' ], run = '''shell -- fish -c 'for file in %s; mv $file (path_append_suffix = $file) ;end'''', desc = 'Mark files' },
  { on = [ 'm', 'c' ], run = 'plugin ouch tar.gz', desc = 'Archive selected files' },
  { on = [ 'm', 'e' ], run = '''shell -- fish -c 'for file in %s; inkscape $file --export-filename=(path change-extension png $file) --export-width=1920 ;end'''', desc = 'Render svg into png' },
  { on = [ 'm', 'i' ], run = '''shell -- fish -c 'wl-paste -t image/png >image.png'''', desc = 'Create image from clipboard' },
  { on = [ 'm', 'j' ], run = '''shell -- fish -c 'for file in %s; jpeg2png $file ;end'''', desc = 'Unfuck the jpeg into png' },
  { on = [ 'm', 'k' ], run = [ 'plugin input', '''shell -- fish -c 'wl-paste >(catait ~/.cache/mine/yazi-input)' ''' ], desc = 'Create file from clipboard' },
  { on = [ 'm', 'l' ], run = [ 'linemode size', '''shell -- fish -c 'for file in %s; magick -define webp:lossless=true $file (path change-extension webp $file) ;end'''' ], desc = 'Magick to lossless webp' },
  { on = [ 'm', 'r' ], run = '''shell -- fish -c 'randomize_file_names %s'''', desc = 'Randomize names of selected file(s)' },
  { on = [ 'm', 's' ], run = '''shell --block -- fish -c 'ffmpeg_convert_to_mp3 %s'''', desc = 'Convert to mp3' },
  { on = [ 'm', 'v' ], run = '''shell --block -- fish -c 'ffmpeg_cut_video %s'''', desc = 'Cut video (into mp4)' },
  { on = [ 'm', 'w' ], run = '''shell -- fish -c 'for file in %s; magick $file (path change-extension webp $file) ;end'''', desc = 'Magick to webp' },
  { on = [ 'm', 'x' ], run = '''shell -- fish -c 'for file in %s; mv $file (path_append_suffix + $file) ;end'''', desc = 'Mark files' },
  { on = [ 'm', 'z' ], run = '''shell -- fish -c 'for file in %s; mv $file (path_clear_suffix += $file) ;end'''', desc = 'Unmark files' },
  { on = [ 's', 'F' ], run = 'link --force --relative', desc = 'Symlink relatively' },
  { on = [ 's', 'I' ], run = 'shell -- si.fish %s', desc = 'Copy png image to clipboard' },
  { on = [ 's', 'K' ], run = 'copy name_without_ext', desc = 'Copy the filename without extension' },
  { on = [ 's', 'f' ], run = 'link --force', desc = 'Symlink' },
  { on = [ 's', 'i' ], run = 'shell -- sl.fish %s', desc = 'Copy uri list to clipboard' },
  { on = [ 's', 'j' ], run = 'copy path', desc = 'Copy the file path' },
  { on = [ 's', 'k' ], run = 'copy filename', desc = 'Copy the filename' },
  { on = [ 's', 'l' ], run = '''shell -- fish -c 'readlink %s | wl-copy -n' ''', desc = "Copy symlink's target" },
  { on = [ 's', 'o' ], run = '''shell -- cat %s | wl-copy''', desc = "Copy file contents" },
  { on = [ 's', 'r' ], run = 'hardlink --force --follow', desc = 'Hardlink' },
  { on = [ 's', 'u' ], run = 'copy dirname', desc = 'Copy the directory path' },
  # [[sort off]]
]

[tasks]
keymap = [
  # [[sort on]]
  { on = '<Down>', run = 'arrow 1', desc = 'Next task' },
  { on = '<Enter>', run = 'inspect', desc = 'Inspect the task' },
  { on = '<Esc>', run = 'close', desc = 'Close task manager' },
  { on = '<F1>', run = 'help', desc = 'Open help' },
  { on = '<PageDown>', run = 'arrow 50%', desc = 'Scroll down by half a page' },
  { on = '<PageUp>', run = 'arrow -50%', desc = 'Scroll up by half a page' },
  { on = '<Up>', run = 'arrow -1', desc = 'Previous task' },
  { on = 'b', run = 'close', desc = 'Close task manager' },
  { on = 'd', run = 'cancel', desc = 'Cancel the task' },
  { on = 'j', run = 'arrow 1', desc = 'Next task' },
  { on = 'k', run = 'arrow -1', desc = 'Previous task' },
  { on = [ 'g', 'i' ], run = 'arrow top', desc = 'First task' },
  { on = [ 'g', 'o' ], run = 'arrow bot', desc = 'Last task' },
  # [[sort off]]
]

[spot]
keymap = [
  # [[sort on]]
  { on = ':', run = 'close', desc = 'Close the spot' },
  { on = '<Down>', run = 'arrow 1', desc = 'Next line' },
  { on = '<Esc>', run = 'close', desc = 'Close the spot' },
  { on = '<F1>', run = 'help', desc = 'Open help' },
  { on = '<Left>', run = 'swipe prev', desc = 'Swipe to previous file' },
  { on = '<Right>', run = 'swipe next', desc = 'Swipe to next file' },
  { on = '<Tab>', run = 'close', desc = 'Close the spot' },
  { on = '<Up>', run = 'arrow -1', desc = 'Previous line' },
  { on = 'h', run = 'swipe prev', desc = 'Swipe to previous file' },
  { on = 'j', run = 'arrow 1', desc = 'Next line' },
  { on = 'k', run = 'arrow -1', desc = 'Previous line' },
  { on = 'l', run = 'swipe next', desc = 'Swipe to next file' },
  { on = 's', run = 'copy cell', desc = 'Copy selected cell' },
  { on = [ 'g', 'i' ], run = 'arrow top', desc = 'First line' },
  { on = [ 'g', 'o' ], run = 'arrow bot', desc = 'Last line' },
  # [[sort off]]
]

[input]
keymap = [
  # [[sort on]]
  { on = '<Backspace>', run = 'backspace', desc = 'Delete the character before the cursor' },
  { on = '<C-Backspace>', run = 'kill backward', desc = 'Kill backwards to the start of the current word' },
  { on = '<C-Delete>', run = 'kill forward', desc = 'Kill forwards to the end of the current word' },
  { on = '<C-Left>', run = 'backward', desc = 'Move back to the start of the current or previous word' },
  { on = '<C-Right>', run = 'forward --end-of-word', desc = 'Move forward to the end of the current or next word' },
  { on = '<C-k>', run = 'kill eol', desc = 'Kill forwards to the EOL' },
  { on = '<C-u>', run = 'kill bol', desc = 'Kill backwards to the BOL' },
  { on = '<C-w>', run = 'kill backward', desc = 'Kill backwards to the start of the current word' },
  { on = '<Delete>', run = 'backspace --under', desc = 'Delete the character under the cursor' },
  { on = '<End>', run = 'move eol', desc = 'Move to the EOL' },
  { on = '<Enter>', run = 'close --submit', desc = 'Submit input' },
  { on = '<Esc>', run = 'close', desc = 'Back to normal mode, or cancel input' },
  { on = '<F1>', run = 'help', desc = 'Open help' },
  { on = '<Home>', run = 'move bol', desc = 'Move to the BOL' },
  { on = '<Left>', run = 'move -1', desc = 'Move back a character' },
  { on = '<Right>', run = 'move 1', desc = 'Move forward a character' },
  # [[sort off]]
]

[confirm]
keymap = [
  # [[sort on]]
  # { on = 'j', run = 'arrow next', desc = 'Next line' },
  # { on = 'k', run = 'arrow prev', desc = 'Previous line' },
  { on = '<Down>', run = 'arrow next', desc = 'Next line' },
  { on = '<Enter>', run = 'close --submit', desc = 'Submit the confirm' },
  { on = '<Esc>', run = 'close', desc = 'Cancel the confirm' },
  { on = '<F1>', run = 'help', desc = 'Open help' },
  { on = '<Up>', run = 'arrow prev', desc = 'Previous line' },
  { on = 'j', run = 'close --submit', desc = 'Submit the confirm' },
  { on = 'k', run = 'close', desc = 'Cancel the confirm' },
  # [[sort off]]
]

[help]
keymap = [
  # [[sort on]]
  { on = ':', run = 'close', desc = 'Close the spot' },
  { on = '<Down>', run = 'arrow 1', desc = 'Next line' },
  { on = '<Esc>', run = 'escape', desc = 'Clear the filter, or hide the help' },
  { on = '<F1>', run = 'close', desc = 'Hide the help' },
  { on = '<PageDown>', run = 'arrow 50%', desc = 'Scroll down by half a page' },
  { on = '<PageUp>', run = 'arrow -50%', desc = 'Scroll up by half a page' },
  { on = '<Up>', run = 'arrow -1', desc = 'Previous line' },
  { on = 'f', run = 'filter', desc = 'Filter help items' },
  { on = 'j', run = 'arrow 1', desc = 'Next line' },
  { on = 'k', run = 'arrow -1', desc = 'Previous line' },
  { on = [ 'g', 'i' ], run = 'arrow top', desc = 'First line' },
  { on = [ 'g', 'o' ], run = 'arrow bot', desc = 'Last line' },
  # [[sort off]]
]
