workspace "three"
workspace "two"
workspace "one"
workspace "four"
workspace "five"

window-rule {
    draw-border-with-background false
    clip-to-geometry true
    opacity 0.98
    open-floating false
    open-maximized false
}
window-rule {
    match is-floating=true
    geometry-corner-radius 16
}

// ------------------------stateful-------------------------
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="swayfloat"
    match app-id="^foot" title="^floating"
    open-floating true
}
window-rule {
    match app-id="Minecraft" title="^Minecraft"
    open-fullscreen true
}
window-rule {
    match app-id="waybar"
    match app-id="anki" at-startup=true
    open-focused false
}
window-rule {
    match app-id="^swayimg$"
    match app-id="^foot"
    opacity 1.0
}

// -------------------------column--------------------------
window-rule {
    match app-id="^foot" title="^voe$"
    default-column-width { proportion 0.65; }
}
window-rule {
    match app-id="^foot" title="^anki-card$"
    default-column-width { proportion 0.5; }
}
window-rule {
    match app-id="^foot" title="^bluetui$"
    default-column-width { proportion 0.40; }
}
window-rule {
    match app-id="^foot" title="^hardware-monitor$"
    default-column-width { proportion 0.35; }
}
window-rule {
    match app-id="^foot" title="^loago-tracker$"
    default-column-width { proportion 0.2; }
}
window-rule {
    match app-id="^foot" title="^abilities$"
    match app-id="^foot" title="^palabra$"
    default-column-width { proportion 0.15; }
}
window-rule {
    match app-id="anki"
    default-column-width {}
}

// ------------------------workspace------------------------
window-rule {
    match app-id="^foot" title="four"
    match app-id="^foot" title="^loago-tracker$"
    match app-id="^foot" title="^calcure$"
    match app-id="^foot" title="^abilities$"
    match app-id="^foot" title="^review$"
    match app-id="^foot" title="^uboot$"
    match app-id="^foot" title="^bluetui$"
    match app-id="^foot" title="^tewi$"
    open-on-workspace "three"
}

window-rule {
    match app-id="^foot" title="^toggleterm$"
    open-on-workspace "one"
}

window-rule {
    match app-id="^foot" title="^voe$"
    match app-id="anki"
    match app-id="steam"
    open-on-workspace "four"
}

window-rule {
    match app-id="^foot" title="^nushell"
    match app-id="^foot" title="^man"
    match app-id="^foot" title="^help"
    open-on-workspace "five"
}

// ----------------------app-specific-----------------------
window-rule {
    match app-id="org.kde.kruler"
    geometry-corner-radius 0
    clip-to-geometry false
    open-floating true
}
window-rule {
    match app-id="wlclock"
    default-column-width { fixed 1005; }
}
window-rule {
    match app-id="^foot" title="floating"
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.25; }
}
window-rule {
    match app-id="^foot" title="^floating-calculator$"
    default-column-width { proportion 0.35; }
    default-window-height { proportion 0.16; }
    default-floating-position x=0 y=10 relative-to="top"
}
window-rule {
    match app-id="ripdrag"
    open-focused false
    open-floating true
    default-floating-position x=50 y=30 relative-to="bottom-right"
}

layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}
