// workspace "eight"
// workspace "six"
// workspace "four"
// workspace "two"
// workspace "one"
// workspace "three"
// workspace "five"
// workspace "seven"
// workspace "nine"

//-----------------catchalls------------------
window-rule {
    draw-border-with-background false
    // geometry-corner-radius 16
    clip-to-geometry true
    opacity 0.98
}
window-rule {
    match is-floating=true
    geometry-corner-radius 16
}

//------------------stateful------------------
window-rule {
    // match app-id="anki"
    // match app-id="python" title="^Import$"
    // match app-id="floorp|firefox|zen$" title="^File Upload$"
    // match app-id="floorp|firefox|zen$" title="^Open File$"
    // match app-id="floorp|firefox|zen$" title="^Save Image|Video|As|Audio$"
    // match app-id="floorp|firefox|zen$" title="^Enter name of file to save to…$"
    // match app-id="floorp|firefox|zen$" title="^Opening "
    // match app-id="net.lutris.Lutris"
    // match app-id="wineboot.exe"
    // match app-id="upc.exe"
    // match app-id="^steam_app_"
    // match app-id="^krita$"
    // match title="^Choose Color$"
    // match app-id="PrismLauncher"
    // match app-id="steam" title="Launching..."
    open-floating false
    open-maximized false
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="swayfloat"
    match app-id="^foot" title="^floating"
    match app-id="ripdrag"
    open-floating true
}
window-rule {
    match app-id="Minecraft" title="^Minecraft"
    open-fullscreen true
}
window-rule {
    match app-id="waybar"
    match app-id="^kitty|foot" title="nofocus"
    match app-id="^kitty|foot" title="^screen-record$"
    open-focused false
}
/-window-rule {
    baba-is-float true
}
window-rule {
    match app-id="^kitty$"
    match app-id="^swayimg$"
    match app-id="^foot"
    opacity 1.0
}

//-------------------column-------------------
window-rule {
    match app-id="^foot" title="half"
    default-column-width { proportion 0.5; }
}
window-rule {
    match app-id="^foot" title="third"
    default-column-width { proportion 0.33333; }
}
window-rule {
    match app-id="^foot" title="fourth"
    default-column-width { proportion 0.25; }
}
window-rule {
    match app-id="^foot" title="fifth"
    default-column-width { proportion 0.2; }
}
window-rule {
    match app-id="^foot" title="seventh"
    default-column-width { proportion 0.15; }
}
window-rule {
    match app-id="^foot" title="tenth"
    default-column-width { proportion 0.1; }
}
window-rule {
    match app-id="anki"
    default-column-width {}
}

//----------------app-specific----------------
window-rule {
    match app-id="org.kde.kruler"
    geometry-corner-radius 0
    clip-to-geometry false
    open-floating true
}
window-rule {
    match app-id="wlclock"
    default-column-width { fixed 1005; }
}
window-rule {
    match app-id="^foot" title="^floating"
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.25; }
}
window-rule {
    match app-id="^foot" title="floating-calculator"
    default-column-width { proportion 0.35; }
    default-window-height { proportion 0.16; }
    default-floating-position x=0 y=10 relative-to="top"
}
window-rule {
    match app-id="^foot" title="hardware-monitor"
    default-column-width { proportion 0.35; }
}
window-rule {
    match app-id="ripdrag"
    open-focused false
    default-floating-position x=50 y=30 relative-to="bottom-right"
}

layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}
