* {
	--monospace-font-family: Input Mono, InputMonoGrafted, JetBrainsMonoNL NF, JetBrainsMonoNL, JetBrainsMono NF,
		JetBrainsMono, Consolas, Roboto Mono, Droid Sans Mono, monospace;
	--normal-font-family: Inter, InterGrafted, Ubuntu Nerd Font, Ubuntu;
	--font-size: 22px;
}

.card {
	font-family: var(--normal-font-family);
	font-size: var(--font-size);
	text-align: center;
	line-height: 1.3;
}

.header {
	color: #ffafd7;
	font-weight: bold;
	display: block;
}

c,
.subheader {
	font-family: var(--monospace-font-family);
	color: #ffd75f;
	font-weight: bold;
	display: block;
}

.cloze {
	font-weight: bold;
	color: #ffafd7;
}

.nightMode .cloze {
	color: #ffafd7;
}

.codeblock,
cda,
cdb,
cdab,
cd {
	font-family: var(--monospace-font-family);
	background-color: #242323;
	border-radius: 5px;
	padding: 0.25em;
	margin: 0.35em 0;
}

@media (min-width: 1000px) {
	.codeblock,
	cda,
	cdb,
	cdab,
	cd {
		width: 50vw;
		margin: 0.35em auto;
	}
}

.codeblock:has(left),
cda:has(left),
cdb:has(left),
cdab:has(left),
cd:has(left),
.left {
	text-align: left;
}

cda,
cdb,
cdab,
cd {
	display: block;
}

code,
o {
	font-family: var(--monospace-font-family);
	background-color: #242323;
	padding: 2px 5px;
	border-radius: 5px;
}

hr#answer {
	margin: 0.5em;
}

b {
	color: #ffd75f;
}

i {
	color: #af87ff;
}

.header.red,
.header:has(red),
.subheader:has(red) {
	color: #ff2930;
}

.header.orange,
.header:has(orange),
.subheader:has(orange) {
	color: #ff9f1a;
}

.header.yellow,
.header:has(yellow),
.subheader:has(yellow) {
	color: #ffd75f;
}

.header.salad,
.header.green,
.header:has(green),
.header:has(salad),
.subheader:has(green),
.subheader:has(salad) {
	color: #87ff5f;
}

.header.cyan,
.header:has(cyan),
.subheader:has(cyan) {
	color: #00d7ff;
}

.header.purple,
.header:has(purple),
.subheader:has(purple) {
	color: #af87ff;
}

/* singular diffed letters in inputbox result */
.typeBad,
.typeMissed,
.typeGood {
	color: #f6f6f6;
	background: transparent;
}

input {
	font-family: var(--monospace-font-family) !important;
	font-size: var(--font-size) !important;
	padding: 7px;
	text-align: center;
	border-radius: 5px;
	border: hsl(0, 1%, 80%) dashed 1px;
	background-color: #403f3f;
	line-height: 1.5;
}

/* by keeping a transparent border, the inputbox doesn't jump when it turns into the answer box */
input:active,
input:focus {
	border: transparent solid 1px !important;
}

code#typeans {
	display: block;
	border-radius: 5px;
	border: transparent solid 1px !important;
	font-size: var(--font-size);
	padding: 7px;
	line-height: 1.5;
	background-color: hsl(0, 1%, 30%);
}

/* ↓ arrow and newline after it removed, to give us the ability to define the line height between the diff in a nicer way */
span#typearrow,
span#typearrow ~ br {
	display: none;
}

@font-face {
	font-family: InputMonoGrafted;
	src: url('_InputMono-Regular.ttf');
}

@font-face {
	font-family: InterGrafted;
	src: url('_Inter_18pt-Regular.ttf');
}
