* {
	--codeblock-margin: 10px;
	--monospace-font-family: JetBrainsMonoNL NF, JetBrainsMonoNL, JetBrainsMono NF, JetBrainsMono, Consolas, Roboto Mono, Droid Sans Mono, monospace;
}

.card {
	font-family: Ubuntu Nerd Font, Ubuntu;
	font-size: 22px;
	text-align: center;
	line-height: 1.3;
}

b {
	color: #ffd75f;
}

i {
	color: #af87ff;
}

.header {
	color: #ffafd7;
	margin-bottom: 20px;
}

.header.red {
	color: #ff2930;
}

.header.orange {
	color: #ff9f1a;
}

.header.yellow {
	color: #ffd75f;
}

.header.salad,
.header.green {
	color: #87ff5f;
}

.header.cyan {
	color: #00d7ff;
}

.header.purple {
	color: #af87ff;
}

.margin {
	height: 30px;
}

.extra {
	margin-top: 15px;
}

.extra-pointer {
	color: #ffafd7;
}

.cloze {
	font-weight: bold;
	color: #ffafd7;
}

.nightMode .cloze {
	color: #ffafd7;
}

hr#answer {
	margin: 14px;
}

/* singular diffed letters in inputbox result */
.typeBad,
.typeMissed,
.typeGood {
	color: #f6f6f6;
	background: transparent;
}

.codeblock {
	font-family: var(--monospace-font-family);
	background-color: #242323;
	border-radius: 5px;
	padding: 7px;
}

.codeblock:has(left), .left {
	text-align: left;
}

.above {
	margin-top: var(--codeblock-margin);
}

.below {
	margin-bottom: var(--codeblock-margin);
}

code {
	font-family: var(--monospace-font-family);
	background-color: #242323;
	padding: 2px 5px;
	border-radius: 5px;
}

input {
	font-family: var(--monospace-font-family) !important;
	font-size: 22px !important;
	padding: 7px;
	text-align: center;
	border-radius: 5px;
	border: hsl(0, 1%, 80%) dashed 1px;
	background-color: #403f3f;
	line-height: 1.5;
}

/* by keeping a transparent border, the inputbox doesn't jump when it turns into the answer box */
input:active,
input:focus {
	border: transparent solid 1px !important;
}

code#typeans {
	display: block;
	border-radius: 5px;
	border: transparent solid 1px !important;
	font-size: 22px;
	padding: 7px;
	line-height: 1.5;
	background-color: hsl(0, 1%, 30%);
}

/* ↓ arrow and newline after it removed, to give us the ability to define the line height between the diff in a nicer way */
span#typearrow,
span#typearrow ~ br {
	display: none;
}
