.card {
	font-family: Ubuntu Nerd Font;
	font-size: 22px;
	text-align: center;
}

.header {
	color: #ffafd7;
	margin-bottom: 30px;
}

.margin {
	height: 30px;
}

.extra {
	margin-top: 15px;
}

.extra-pointer {
	color: #ffafd7;
}

.cloze {
	font-weight: bold;
	color: #ffafd7;
}

.nightMode .cloze {
	color: #ffafd7;
}

hr#answer {
	margin: 14px;
}

/* singular diffed letters in inputbox result */
.typeBad,
.typeMissed,
.typeGood {
	color: #f6f6f6;
	background: transparent;
}

.codeblock {
	font-family: JetBrainsMono NF;
	background-color: #242323;
	border-radius: 5px;
	padding: 7px;
}

code {
	font-family: JetBrainsMono NF;
	background-color: #242323;
	padding: 2px 5px;
	border-radius: 5px;
}

input {
	font-family: JetBrainsMono NF !important;
	font-size: 22px !important;
	padding: 7px;
	text-align: center;
	border-radius: 5px;
	border: hsl(0, 1%, 80%) dashed 1px;
	background-color: #403f3f;
	line-height: 1.5;
}

/* by keeping a transparent border, the inputbox doesn't jump when it turns into the answer box */
input:active,
input:focus {
	border: transparent solid 1px !important;
}

code#typeans {
	display: block;
	border-radius: 5px;
	border: transparent solid 1px !important;
	font-size: 22px;
	padding: 7px;
	line-height: 1.5;
	background-color: hsl(0, 1%, 30%);
}

/* ↓ arrow and newline after it removed, to give us the ability to define the line height between the diff in a nicer way */
span#typearrow,
span#typearrow ~ br {
	display: none;
}
