# ------------------crystal-------------------
[[language]]
name = "crystal"
auto-format = true
indent = { tab-width = 2, unit = "  " }

[language.auto-pairs]
"(" = ")"
"{" = "}"
"[" = "]"
'"' = '"'
"`" = "`"
"'" = "'"

# --------------------css---------------------
[[language]]
name = "css"
formatter = { command = "prettier", args = [ "--parser", "css" ] }

# --------------------fish--------------------
[[language]]
name = "fish"
language-servers = [ "fish-lsp" ]

[language-server.fish-lsp]
command = "fish-lsp"
args = [ "start" ]

# --------------------html--------------------
[[language]]
name = "html"
auto-format = false
formatter = { command = "prettier", args = [ "--parser", "html" ] }

# -------------------kanata-------------------
[[language]]
name = "kanata"
scope = "source.kanata"
indent = { tab-width = 3, unit = "\t" }
file-types = [ "kbd" ]
comment-tokens = [ ";;" ]

[[grammar]]
name = "kanata"
source = { git = "https://github.com/glehmann/tree-sitter-kanata", rev = "e3f368ded70efbaeba0273390b1bbfb6c4a94c22" }

# --------------------lua---------------------
[[language]]
name = "lua"
indent = { tab-width = 3, unit = "\t" }
auto-format = true
formatter = { command = "stylua", args = [ "-" ] }

[language-server.lua-language-server.config.Lua]
# [[sort on]]
codelens.enable = true
completion.callSnippet = "Replace"
completion.enable = true
completion.keywordSnippet = "Disable"
completion.postfix = "@"
completion.showParams = true
completion.showWord = "Enable"
completion.workspaceWord = false
diagnostics.workspaceDelay = 0
format.enable = false
hint.arrayIndex = "Disable"
hint.await = true
hint.enable = true
hint.paramName = "Disable"
hint.paramType = true
hint.semicolon = "Disable"
hint.setType = true
hover.enable = true
hover.enumsLimit = 9999
hover.expandAlias = true
hover.previewFields = 9999
hover.viewNumber = true
hover.viewString = true
semantic.enable = false               # TODO: enable this once helix supports them
semantic.keyword = false
semantic.variable = true
type.weakNilCheck = false
workspace.checkThirdParty = false
# [[sort off]]
diagnostics.disable = [
  "lowercase-global",
  "redefined-local",
  "duplicate-set-field",
]

# --------------------man---------------------
[[language]]
name = "man"
scope = "source.man"
# indent = { tab-width = 3, unit = "\t" }
file-types = [ "man", "help" ]
# comment-tokens = [ ";;" ]

[[grammar]]
name = "man"
source = { git = "https://github.com/ribru17/tree-sitter-man", rev = "e332ea95d5c921d1108a46d1b2b0f017079e1fd8" }

# ------------------markdown------------------
[[grammar]]
name = "markdown"
source = { git = "https://github.com/Axlefublr/tree-sitter-markdown", rev = "3a23e2f773693e865f2ce2df7bd18d2303c8cc7a", subpath = "tree-sitter-markdown" }

[[language]]
name = "markdown"
indent = { tab-width = 3, unit = "   " }

[language.auto-pairs]
"(" = ")"
"{" = "}"
"[" = "]"
'"' = '"'
"`" = "`"
"<" = ">"
"'" = "'"
"‘" = "’"
"“" = "”"
"«" = "»"

# --------------------nim---------------------
[[language]]
name = "nim"
language-servers = [ "nimlsp" ]

# ------------------nushell-------------------
[[language]]
name = "nu"
indent = { tab-width = 3, unit = "\t" }

[[grammar]]
name = "nu"
source = { git = "https://github.com/nushell/tree-sitter-nu", rev = "0e6c59c46db3c246eaf86ce5b325da1247e971a5" }

# -------------------python-------------------
[[language]]
name = "python"
language-servers = [ "basedpyright", "ruff" ]
auto-format = true

[language.auto-pairs]
"(" = ")"
"{" = "}"
"[" = "]"
'"' = '"'
"`" = "`"
"<" = ">"
"'" = "'"

[language-server.basedpyright.config.basedpyright]
analysis.autoImportCompletions = true

[language-server.ruff]
command = "ruff"
args = [ "server" ]

[language-server.basedpyright]
command = "basedpyright-langserver"
args = [ "--stdio" ]

[language-server.basedpyright.config]
# ["a", 3, True] will be interpreted as list[str | int | bool] rather than list[Any]
strictListInference = true
# { "a": 1, "b": "c" } will be interpretes as dict[str, int | str] rather than dict[str, Any]
strictDictionaryInference = true
# { "a", 1, True } will be set[str, int, bool] rather than set[Any]
strictSetInference = true
enableReachabilityAnalysis = true
typeCheckingMode = "strict"
reportUnusedVariable = false

# --------------------ruby--------------------
[[language]]
name = "ruby"
language-servers = [ "solargraph", "rubocop" ]
auto-format = true
indent = { tab-width = 3, unit = "\t" }

[language.auto-pairs]
"(" = ")"
"{" = "}"
"[" = "]"
'"' = '"'
"`" = "`"
"<" = ">"
"'" = "'"
"|" = "|"

[language-server.rubocop]
command = "rubocop"
args = [ "--lsp" ]

# --------------------rust--------------------
[[language]]
name = "rust"

[language.auto-pairs]
"(" = ")"
"{" = "}"
"[" = "]"
"|" = "|"
'"' = '"'
"`" = "`"
"<" = ">"

[language-server.rust-analyzer]
command = "rust-analyzer"

[language-server.rust-analyzer.config]
# [[sort on]]
# rustfmt.overrideCommand = ["rustup", "run", "nightly", "--", "rustfmt"]
# workspace.symbol.search.kind = "onlyTypes"
assist.expressionFillDefault = "default"
assist.importEnforceGranularity = true
assist.importPrefix = "crate"
cargo.extraArgs = [ "--profile", "rust-analyzer" ]
cargo.extraEnv.CARGO_PROFILE_RUST_ANALYZER_INHERITS = "dev"
cargo.features = "all"
check.command = "clippy"
checkOnSave = true
completion.fullFunctionSignatures.enable = true
files.watcher = "server"                                     # TODO: this is not needed if helix supports client-side filewatching
inlayHints.bindingModeHints.enable = true
inlayHints.closingBraceHints.minLines = 11
inlayHints.closureCaptureHints.enable = true
inlayHints.closureReturnTypeHints.enable = "with_block"
inlayHints.closureStyle = "rust_analyzer"
inlayHints.discriminantHints.enable = "fieldless"
inlayHints.expressionAdjustmentHints.enable = "reborrow"
inlayHints.expressionAdjustmentHints.mode = "prefer_postfix"
inlayHints.lifetimeElisionHints.enable = "skip_trivial"
inlayHints.lifetimeElisionHints.useParameterNames = true
inlayHints.parameterHints.enable = true
inlayHints.rangeExclusiveHints.enable = true
inlayHints.renderColons = false
lens.run.enable = false
procMacro.enable = true
semanticHighlighting.operator.specialization.enable = true
semanticHighlighting.punctuation.enable = true
semanticHighlighting.punctuation.separate.macro.bang = true
signatureInfo.documentation.enable = true
typing.autoClosingAngleBrackets.enable = true
# [[sort off]]

# --------------------toml--------------------
[[language]]
name = "toml"
auto-format = true

# --------------------------yuck---------------------------
[[language]]
name = "yuck"
indent = { tab-width = 3, unit = "\t" }
