* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Input Mono, sans-serif;
  font-size: 20;
}

window#waybar {
  background-color: rgba(31, 30, 30, 0.7);
  color: #d4be98;
  transition-property: background-color;
  transition-duration: .5s;
  border: 2px solid #d4be98;
  border-top: none;
  border-radius: 0 0 16 16;
}

#waybar>* {
  padding-bottom: 3;
}

.module {
  margin-left: 10;
  margin-right: 10;
}

/* .modules-right .module { */
/* margin-left: 10; */
/* margin-right: 10; */
/* } */

.modules-left:first-child {
  margin-left: 12;
}

.modules-right:last-child {
  margin-right: 12;
}

#clock.date {
  color: #ea6962;
}

#clock.weekday {
  color: #e49641;
}

#clock.time {
  color: #d3ad5c;
}

#custom-meat {
  color: #a9b665;
}

#language {
  color: #78bf84;
}

#custom-magazines {
  color: #7daea3;
}

#custom-screen-record {
  color: #e491b2;
}

#custom-red-dot {
  color: #ea6962;
}

#custom-cha-fan {
  color: #e491b2;
}

#custom-cpu-fan {
  color: #7daea3;
}

#pulseaudio {
  color: #78bf84;
}

#memory {
  color: #a9b665;
}

#disk {
  color: #d3ad5c;
}

#temperature.gpu {
  color: #e49641;
}

#temperature.cpu {
  color: #ea6962;
}