button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Input Mono, sans-serif;
  font-size: 20;
}

window#waybar {
  background-color: rgba(31, 30, 30, 0.9);
  color: #d4be98;
  transition-property: background-color;
  transition-duration: .5s;
  border: 2px solid #d4be98;
  border-top: none;
  border-radius: 0 0 16 16;
}

#waybar>* {
  padding-bottom: 3;
}

.module {
  margin-left: 6;
  margin-right: 6;
}

.modules-left:first-child {
  margin-left: 6;
}

.modules-right:last-child {
  margin-right: 6;
}

#clock.date {
  color: #ea6962;
}

#clock.weekday {
  color: #e49641;
}

#clock.time {
  color: #d3ad5c;
}

#language {
  color: #a9b665;
}

#custom-magazines {
  color: #78bf84;
}

#pulseaudio {
  color: #78bf84;
  margin-right: 8;
}

#clock.weekday {
  margin-left: 8;
}

#memory {
  color: #a9b665;
}

#disk {
  color: #d3ad5c;
}

#temperature.gpu {
  color: #e49641;
  margin-left: 7;
  margin-right: 4;
}

#temperature.cpu {
  color: #ea6962;
}