[Unit]
Requisite=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=env systemctl --user restart waybar.service
