* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Inter, sans-serif;
  font-size: 20;
}

window#waybar {
  background-color: rgba(31, 30, 30, 0.9);
  color: #d4be98;
  transition-property: background-color;
  transition-duration: .5s;
  border: 1.4px solid #ffd75f;
  border-top: none;
  border-radius: 0 0 16 16;
}

#waybar>* {
  padding: 2px;
  padding-top: 0px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

.modules-left:first-child {
  margin-left: 8;
}

.modules-right:last-child {
  margin-right: 8;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#clock {
  font-family: Input Mono;
}

#clock.weekday {
  margin-left: 2;
}