[Service]
ExecStartPre=/home/axlefublr/prog/dotfiles/scripts/processwait.fish
ExecStart=/home/axlefublr/prog/dotfiles/scripts/systemd/executables/saturday.fish