:root {
	--shadow-color: hsl(0, 0%, 6.9%);
}

window {
	background-color: alpha(black, 0);
}

progressbar progress {
	background-color: #ffafd7;
}

progressbar trough {
	/* border: 2px solid var(--shadow-color); */
	min-height: 8px;
}

.textoutline {
	text-shadow:
		-2px -2px 2px var(--shadow-color),
		0 -2px 2px var(--shadow-color),
		2px -2px 2px var(--shadow-color),
		-2px 0 2px var(--shadow-color),
		2px 0 2px var(--shadow-color),
		-2px 2px 2px var(--shadow-color),
		0 2px 2px var(--shadow-color),
		2px 2px 2px var(--shadow-color);
}

.monospace {
	font-family: Google Sans Code;
}

.fill-line {
	background-color: #ffd75f;
}

.volume-number {
	font-size: 40px;
	color: #ffafd7;
}

.modifier {
	font-size: 60px;
}
.meta {
	color: #7c57eb;
}
.ctrl {
	color: #e84046;
}
.shift {
	color: #3ed73c;
}
.alt {
	color: #eed049;
}
