:root {
	--shadow-color: hsl(0, 0%, 9.9%);
}

* {
	font-family: Inter;
}

window {
	background-color: alpha(black, 0);
}

progressbar progress {
	background-color: #ffafd7;
}

progressbar trough {
	margin: 6px;
	box-shadow:
		-2px -2px 3px var(--shadow-color),
		0 -2px 3px var(--shadow-color),
		2px -2px 3px var(--shadow-color),
		-2px 0 3px var(--shadow-color),
		2px 0 3px var(--shadow-color),
		-2px 2px 3px var(--shadow-color),
		0 2px 3px var(--shadow-color),
		2px 2px 3px var(--shadow-color);
}

.monospace {
	font-family: Google Sans Code;
}

.padshadow {
	margin: 3px;
}

.textoutline {
	text-shadow:
		-2px -2px 3px var(--shadow-color),
		0 -2px 3px var(--shadow-color),
		2px -2px 3px var(--shadow-color),
		-2px 0 3px var(--shadow-color),
		2px 0 3px var(--shadow-color),
		-2px 2px 3px var(--shadow-color),
		0 2px 3px var(--shadow-color),
		2px 2px 3px var(--shadow-color);
}

.shadow {
	box-shadow:
		-2px -2px 3px var(--shadow-color),
		0 -2px 3px var(--shadow-color),
		2px -2px 3px var(--shadow-color),
		-2px 0 3px var(--shadow-color),
		2px 0 3px var(--shadow-color),
		-2px 2px 3px var(--shadow-color),
		0 2px 3px var(--shadow-color),
		2px 2px 3px var(--shadow-color);
}

.fill-line {
	background-color: #ffd75f;
}

.volume-number {
	font-size: 40px;
	color: #ffafd7;
}

.modifier {
	font-size: 60px;
}
.meta {
	color: #7c57eb;
}
.ctrl {
	color: #e84046;
}
.shift {
	color: #3ed73c;
}
.alt {
	color: #eed049;
}
