[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=/home/axlefublr/r/binaries/axleizer

[Install]
UpheldBy=graphical-session.target
