[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=env axleizer

[Install]
UpheldBy=graphical-session.target
