[Unit]
Description=Wayland clipboard manager with fast persistent history and multi-media support
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
StartLimitBurst=100
StartLimitIntervalSec=60

[Service]
Type=exec
ExecStart=env stash watch
Restart=on-failure

[Install]
WantedBy=graphical-session.target
