[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store

[Install]
UpheldBy=graphical-session.target
