[Unit]
Description=Foot terminal server mode
Documentation=man:foot(1)
PartOf=graphical-session.target
After=graphical-session.target
StartLimitBurst=100
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/foot -s
Type=exec
UnsetEnvironment=LISTEN_PID LISTEN_FDS LISTEN_FDNAMES
Restart=always

[Install]
WantedBy=graphical-session.target
