[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/swww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
