[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
StartLimitBurst=0
StartLimitIntervalSec=0

[Service]
ExecStart=env vellum
Restart=always
RestartSec=100ms
RestartMaxDelaySec=1
RestartSteps=1
Type=exec

[Install]
WantedBy=graphical-session.target
