[Unit]
Requisite=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=rm /tmp/cami-just-suspended
ExecStart=fish -c systemd_wake
