[Timer]
OnCalendar=*-*-* 05:00:00
OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 17:00:00
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
