[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
StartLimitBurst=100
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/xwayland-satellite
Restart=always
Type=exec

[Install]
WantedBy=graphical-session.target
