[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -i "%h/.cache/mine/background-image" -m fill

[Install]
UpheldBy=graphical-session.target
