[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -i "%h/.cache/mine/background-image" -m fill
Restart=on-failure
