/*starts with*/
/*https://studio.youtube.com/live_chat?is_popout*/

:root {
	--shell-yellow: #ffd75f;
	--shell-pink: #ffafd7;
	--smooth-black: hsl(0, 0%, 6.7%);
	--gruvbox-background: #292828;
	--gruvbox-white: #d4be98;
}

html {
	--yt-deprecated-blue: var(--shell-yellow);
	--yt-live-chat-author-chip-owner-background-color: var(--shell-yellow);
	--yt-spec-base-background: var(--gruvbox-background) !important;
}

html[dark],
[dark] {
	--yt-spec-general-background-b: var(--gruvbox-background);
	--yt-spec-raised-background: var(--gruvbox-background);
	--yt-spec-static-brand-white: var(--gruvbox-white);
	--yt-live-chat-moderator-color: var(--shell-pink);
	--yt-live-chat-secondary-text-color: var(--shell-yellow);
}

body {
	font-family: Ubuntu Nerd Font, Roboto, Arial, sans-serif;
}

/* "Chat..." */
#label.yt-live-chat-text-input-field-renderer {
	color: var(--gruvbox-white);
}

#reaction-control-panel {
	display: none;
}

/* thing that says random bs with the yt icon inside of the chat */
yt-live-chat-viewer-engagement-message-renderer {
	display: none;
}

/* top chat / live chat header */
yt-live-chat-header-renderer {
	display: none;
}

/* place for chat */
div#item-offset.style-scope.yt-live-chat-item-list-renderer {
	min-height: 10px !important;
	min-width: 10px !important;
}

/* down arrow that appears when you have stuff to scroll down to */
yt-icon-button.yt-live-chat-item-list-renderer {
	background-color: var(--shell-yellow);
	color: var(--smooth-black);
}

/* place for chat, scrollable area */
yt-live-chat-app {
	min-width: 10px !important;
	min-height: 10px !important;
}

/* div with buttons under chat input box */
#buttons.yt-live-chat-message-input-renderer {
	display: none;
}

/* pfp in chat input */
#avatar.yt-live-chat-message-input-renderer {
	display: none;
}

/* thingy that holds my side of chat input */
yt-live-chat-message-input-renderer.style-scope.yt-live-chat-renderer {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 11px;
	padding-top: 3px;
}

/* my nickname in chat input box */
yt-live-chat-author-chip.style-scope.yt-live-chat-message-input-renderer {
	display: none;
}

/* each singular chat message container */
yt-live-chat-text-message-renderer {
	padding: 4px 11px;
}

/* each singular chat message pfp container */
#author-photo.yt-live-chat-text-message-renderer {
	margin-right: 9px;
}
