/*starts with*/
/*https://studio.youtube.com/live_chat?is_popout*/

#reaction-control-panel {
	display: none;
}

/* thing that says random bs with the yt icon inside of the chat */
yt-live-chat-viewer-engagement-message-renderer {
	display: none;
}

/* top chat / live chat header */
yt-live-chat-header-renderer {
	display: none;
}

/* the input box */
yt-live-chat-message-input-renderer {
	padding-right: 30px;
	padding-left: 5px;
	padding-bottom: 9px;
}

#chat.style-scope.yt-live-chat-renderer {
	padding-bottom: 109px;
}