/*starts with*/
/*https://studio.youtube.com/live_chat?is_popout*/

#reaction-control-panel {
	display: none;
}

/* thing that says random bs with the yt icon inside of the chat */
yt-live-chat-viewer-engagement-message-renderer {
	display: none;
}

/* top chat / live chat header */
yt-live-chat-header-renderer {
	display: none;
}

/* place for chat */
div#item-offset.style-scope.yt-live-chat-item-list-renderer {
	min-height: 10px !important;
	min-width: 10px !important;
}

/* place for chat, scrollable area */
yt-live-chat-app {
	min-width: 10px !important;
	min-height: 10px !important;
}

}

#chat.style-scope.yt-live-chat-renderer {
	padding-bottom: 109px;
}