/*starts with*/
/*https://www.youtube.com*/

/* switcher header */
#header.style-scope.ytd-account-section-list-renderer {
	display: none;
}
/* pre-switcher header */
#contentWrapper > ytd-multi-page-menu-renderer > #header {
	display: none;
}

/* undeletable non-business channel */
#contents > ytd-account-item-renderer:nth-child(1) {
	display: none;
}
/* super special channel name in selector */
#contents > ytd-account-item-renderer:nth-child(3) yt-formatted-string {
	display: none;
}
/* special channel name in selector */
#contents > ytd-account-item-renderer:nth-child(6) yt-formatted-string {
	display: none;
}

/* pfps in switcher */
#contentIcon {
	display: none;
}

/* google account in pre-switcher */
yt-multi-page-menu-section-renderer:first-of-type > #items > ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(1) {
	display: none;
}
/* sign out */
yt-multi-page-menu-section-renderer:first-of-type > #items > ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(3) {
	display: none;
}

/* purchases and memberships */
yt-multi-page-menu-section-renderer:nth-of-type(2) > #items > ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(2) {
	display: none;
}

/* your data in youtube */
yt-multi-page-menu-section-renderer:nth-of-type(3) > #items > ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(1) {
	display: none;
}
/* keyboard shortcuts */
yt-multi-page-menu-section-renderer:nth-of-type(3) > #items > ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(6) {
	display: none;
}

/* help and send data section in pre switcher */
yt-multi-page-menu-section-renderer:last-of-type {
	display: none;
}

/* shorts in right hand side watch later */
ytd-reel-shelf-renderer.style-scope.ytd-item-section-renderer {
	display: none;
}