/*starts with*/
/*https://www.youtube.com*/

:root {
	--shell-pink: #ffafd7;
	--shell-green: #3dff47;
	--shell-purple: #af87ff;
	--shell-red: #ff2930;
	--shell-yellow: #ffd75f;
	--smooth-black: #0f0f0f;

	--shell-background-pink: hsl(330, 10%, 20%);

	--gruvbox-white: #d4be98;
	--gruvbox-grey: #928374;

	--gruvbox-background: hsl(0, 1%, 16%);
	--gruvbox-darker-background: hsl(0, 1%, 14%);
	--gruvbox-darkerest-background: hsl(0, 1%, 13%);

	--shell-pink-ten: hsla(330, 100%, 84%, 0.1);
	--shell-pink-thirty: hsla(330, 100%, 84%, 0.3);
}

html[dark],
[dark],
html[darker-dark-theme][dark],
[darker-dark-theme] [dark] {
	--yt-spec-additive-background: var(--shell-pink-ten);
	--yt-spec-outline: var(--shell-pink-thirty);
	--yt-spec-button-chip-background-hover: var(--shell-pink-thirty);
	--yt-spec-badge-chip-background: var(--shell-background-pink);
	--yt-spec-base-background: var(--gruvbox-background);
	--yt-spec-raised-background: var(--gruvbox-darkerest-background);
	--ytd-searchbox-background: var(--gruvbox-darker-background);
	--ytd-searchbox-text-color: var(--gruvbox-white);
	--yt-spec-text-primary: var(--gruvbox-white);
	--yt-spec-static-brand-white: var(--gruvbox-white);
	--yt-spec-text-secondary: var(--gruvbox-grey);
	--yt-spec-text-disabled: var(--gruvbox-grey);
	--yt-spec-icon-disabled: var(--gruvbox-grey);
	/* 10 views no videos updated today on playlist cover */
	/* --yt-spec-static-overlay-text-secondary: var(--gruvbox-grey); */
	--yt-spec-icon-inactive: var(--shell-pink);
	--yt-spec-static-overlay-background-brand: var(--shell-pink);
	--yt-spec-themed-blue: var(--shell-pink);
	/* watch later your_username on playlist cover */
	/* --yt-spec-static-overlay-text-primary: var(--shell-pink); */
	--yt-spec-static-brand-red: var(--shell-red);
}

/* search icon to the left of the search bar */
icon-shape > div {
	fill: var(--gruvbox-white) !important;
}

/* switcher header */
#header.style-scope.ytd-account-section-list-renderer,
/* pre-switcher header */
#contentWrapper > ytd-multi-page-menu-renderer > #header,
/* undeletable non-business channel */
#contents > ytd-account-item-renderer:nth-child(1),
/* special channel name in selector */
#contents > ytd-account-item-renderer:nth-child(5) yt-formatted-string,
/* pfps in switcher */
#contentIcon,
/* pfps in notifications */
yt-img-shadow#avatar,
/* blue notification markers in notification popout */
div#new.ytd-notification-renderer,
/* sign out */
yt-multi-page-menu-section-renderer:first-of-type
	> #items
	> ytd-compact-link-renderer.style-scope.yt-multi-page-menu-section-renderer:nth-child(3),
/* shorts in right hand side watch later */
ytd-reel-shelf-renderer.style-scope.ytd-item-section-renderer,
/* "Play all" and "Shuffle" buttons in a playlist */
.play-menu.spaced-row.wide-screen-form.style-scope.ytd-playlist-header-renderer {
	display: none;
}

/* player background */
.html5-video-player:not(.efyt-black-bars), .html5-video-player.unstarted-mode:not(.efyt-black-bars) {
	background-color: var(--gruvbox-background);
}

/* each singular notification */
ytd-notification-renderer {
	padding: 16px;
}

/* focused search box */
ytd-searchbox[has-focus] #container.ytd-searchbox {
	border: 1px solid var(--shell-pink);
}

/* "subscribed" on with bell button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
	color: var(--gruvbox-white);
}

/* × button and mic button to the right of the search bar */
.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__fill {
	background-color: var(--gruvbox-white);
}

/* links in I think bio */
.yt-core-attributed-string__link--call-to-action-color,
.yt-core-attributed-string--link-inherit-color.yt-core-attributed-string__link--call-to-action-color,
/* selected section on a channel */
.yt-tab-shape-wiz__tab--tab-selected,
/* "Manage" blue button subscriptions page */
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
	color: var(--shell-pink);
}

/* underline under selected section on a channel */
.yt-tab-group-shape-wiz__slider {
	background-color: var(--shell-pink);
}

.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
	background-color: var(--shell-background-pink);
}

/* mic button right to the search */
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--text:hover,
/* grid button in subscriptions page */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text:hover {
	background-color: var(--shell-pink-thirty);
}

/* unselected sections on a channel */
.yt-tab-shape-wiz__tab {
	color: var(--gruvbox-grey);
}

/* "live now" text */
.badge-style-type-live-now-alternate path {
	fill: var(--smooth-black);
}
.badge-style-type-live-now-alternate > p {
	color: var(--smooth-black);
}

/* :active sidebar (the one you don't pull out) buttons, like subscriptions */
yt-interaction.down .fill.yt-interaction {
	opacity: 0;
}

/* gradient on watch later preview */
div.immersive-header-gradient {
	background: unset;
}