/*starts with*/
/*https://studio.youtube.com*/

/* channel name on the left */
#entity-name {
	display: none;
}
/* profile picture on the left
alt text is displayed without wpcc */
#left-nav
	> div.thumbnail-wrapper.thumbnail-wrapper-channel.style-scope.ytcp-navigation-drawer.style-scope.ytcp-navigation-drawer
	> ytcp-animatable
	> img {
	display: none;
}

/* entire header of the before switcher menu */
#header.style-scope.ytd-multi-page-menu-renderer {
	display: none;
}

/* sign out in switcher */
#items.style-scope.yt-multi-page-menu-section-renderer
	> ytd-compact-link-renderer:nth-child(4) {
	display: none;
}

/* switcher header */
#header.style-scope.ytd-account-section-list-renderer {
	display: none;
}

/* first undeletable channel in switcher */
#contents.style-scope.ytd-account-item-section-renderer
	> ytd-account-item-renderer:nth-child(1) {
	display: none;
}
/* special channel */
#contents.style-scope.ytd-account-item-section-renderer
	> ytd-account-item-renderer:nth-child(5)
	yt-formatted-string {
	display: none;
}
