/* #ui */
/* hint labels */
.D > .LH {
	background: #ffd75f;
}

/* div that actually holds the / search inputbox */
div.R.UI.HUD.D:after {
	background: transparent;
}
.HUD:after {
	border: none;
	border-radius: unset;
}
/* positioning of the inputbox outer div */
.HUD.UI {
	height: 29px;
}
.HUD {
	bottom: 0;
	padding: 5px 7px;
	right: 35%;
	width: 30%;
	max-width: 30%;
	min-width: 30%;
	height: auto;
	font-size: 16px;
	border-radius: 5px;
}

/* notifications, like when you get in insert mode */
.HUD.D:not(.UI) {
	font-family: Inter;
	bottom: 5px;
	max-width: unset;
	min-width: unset;
	width: unset;
	right: 5px;
	color: #d4be98;
}
.HUD.D:after {
	background-color: hsl(0, 1%, 10%);
}

/* frame around the gf / gF frames */
.One {
	border-color: #ffd75f;
}
.Frame {
	border: 5px solid #ffd75f;
}
* {
	font: unset;
}
