/* #ui */
/* hint labels */
.D > .LH {
	background: #ffafd7;
}

/* div that actually holds the / search inputbox */
div.R.UI.HUD.D:after {
	background: transparent;
}
.HUD:after {
	border: none;
	border-radius: unset;
}
/* positioning of the inputbox outer div */
.HUD.UI {
	height: 29px;
}
.HUD {
	bottom: 0;
	padding: 5px 7px;
	right: 35%;
	width: 30%;
	max-width: 30%;
	min-width: 30%;
	height: auto;
	font-size: 16px;
	border-radius: 5px;
}

/* notifications, like when you get in insert mode */
.HUD.D:not(.UI) {
	font-family: Ubuntu Nerd Font, Ubuntu;
	bottom: 5px;
	max-width: unset;
	min-width: unset;
	width: unset;
	right: 5px;
	color: #d4be98;
}
.HUD.D:after {
	background-color: hsl(0, 1%, 10%);
}

/* #find */
/* the inner inputbox of the / search */
.r {
	box-shadow: none;
	border-radius: 5px;
	border-style: solid;
	border-color: hsl(0, 1%, 40%);
	border-width: 0;
	height: auto;
	padding: unset;
}
.r.D {
	font-size: 16px;
	font-family: Ubuntu Nerd Font, Ubuntu;
	padding: 5px 7px;
	background-color: hsl(0, 1%, 10%);
	color: #d4be98;
}
* {
	font: unset;
}

/* span that holds amount of matches */
#c {
	margin-top: 1px;
	height: auto;
	margin-left: 5px;
}

/* amount of matches */
#c::after {
	color: #ffd75f;
	font-size: 14px;
}

/* height of the searched for text */
#i {
	height: auto;
	padding-bottom: 1px;
	margin-left: 0;
}

/* `/` character before the search */
#s {
	display: none;
}