[Unit]
After=graphical-session.target
StartLimitBurst=0
StartLimitIntervalSec=0

[Service]
ExecStart=env fish -c "kanata --cfg ~/r/dot/kanata/kanata.kbd"
Restart=always
Type=exec

[Install]
WantedBy=graphical-session.target
