[Unit]
After=graphical-session.target
StartLimitBurst=0
StartLimitIntervalSec=0

[Service]
# ran through fish so that kanata inherits all env vars
ExecStart=env fish -c "kanata --cfg ~/fes/dot/kanata/kanata.kbd"
Restart=always
Type=exec

[Install]
WantedBy=graphical-session.target
