@charset "UTF-8";

@-moz-document url(chrome://browser/content/browser.xhtml){

#undo-closed-tab,
#back-button,
#forward-button,
#reader-mode-button,
#star-button-box,
#home-button,
#stop-reload-button,
#TabsToolbar,
#sidebar-header,
#sidebar-splitter {
  display: none !important;
}

#nav-bar {
  margin-top: -40px !important;
}

#nav-bar:focus-within {
  margin-top: 0 !important;
}

/* this appears as a 1 pixel line at the top of the browser, even when the nav bar is otherwise hidden */
#navigator-toolbox {
  border-bottom: unset !important;
}

}