@charset "UTF-8";

@-moz-document url(chrome://browser/content/browser.xhtml){

#undo-closed-tab,
#back-button,
#forward-button,
#reader-mode-button,
#star-button-box,
#home-button,
#stop-reload-button,
#TabsToolbar,
#sidebar-header {
  display: none !important;
}

#nav-bar {
  margin-top: -50px !important;
}

#nav-bar:focus-within {
  margin-top: 0 !important;
}

}