#titlebar button.vivaldi {
	display: none;
}

.linux #tabs-container:not(.none).top {
	padding-left: 0;
}

div.button-toolbar.newtab {
	display: none;
}

div.startpage > nav.startpage-navigation.toolbar-medium {
	display: none;
}

/* address bar */
.mainbar > .toolbar-mainbar {
	height: 29px;
}

#tabs-tabbar-container {
	height: 29px;
	padding-top: 0px;
}

/* Ugly ahhh title bar when you hide ui */
div#header {
	display: none;
}