#titlebar button.vivaldi {
	display: none;
}

.linux #tabs-container:not(.none).top {
	padding-left: 0;
}

div.button-toolbar.newtab {
	display: none;
}

div.startpage > nav.startpage-navigation.toolbar-medium {
	display: none;
}

/* address bar */
.mainbar > .toolbar-mainbar {
	height: 29px;
}

#tabs-tabbar-container {
	height: 29px;
	padding-top: 0px;
}

/* Ugly ahhh title bar when you hide ui */
div#header {
	display: none;
}

/* Small left padding on the left of the workspaces button */
/* #app div:not(.draggable-button) > .button-toolbar.workspace-popup button {
	padding: 0 !important;
} */

/* Thin line on the top of the bottom tab bar */
.address-top #tabs-tabbar-container.bottom, .address-top-off #tabs-tabbar-container.bottom, .address-bottom-off #tabs-tabbar-container.bottom {
	border-top-width: 0;
}

/* inactive tabs */
:not(.ui-transparent-tabs).color-behind-tabs-off .tab-position .tab {
	background-color: hsl(0, 1%, 22%);
}

/* active tab */
#browser.color-behind-tabs-off .tab-position .tab.active.active {
	color: #d4be98;
	border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;
}

/* hovered over tab */
.color-behind-tabs-off .tab-position .tab:hover:not(.active) {
	background-color: hsl(0, 1%, 26%);
}

.tabs-bottom .tab-position .tab:not(.tab-in-accordion, .tab-accordion),
.tabs-bottom .tab-position .tab.tab-in-accordion,
.tabs-bottom .tab-position .tab.tab-accordion {
	border-radius: 14px;
	font-size: 13px;
}
.tabs-bottom .tab-position .tab.tab-accordion {
	border-radius: 14px 0 0 0;
}
.tabs-bottom .tab-position .tab.tab-in-accordion {
	border-radius: unset;
}
.tabs-bottom .tab-position .tab.tab-first-in-group {
	border-top-left-radius: 14px;
}
.tabs-bottom .tab-position .tab.tab-last-in-group {
	border-top-right-radius: 14px;
}

/* border for grouping tab stacks together */
.color-behind-tabs-off .svg-tab-stack .stack-frame {
	stroke: transparent;
}

/* > button for unfolding currently active tab stack */
.color-behind-tabs-off .accordion-toggle-arrow.closed.active {
	color: #d4be98;
	background-color: #292828;
}

/* favicon in the current tab highlighted in white */
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg), .acc-dark.color-behind-tabs-off .tab-position .tab.active .tab-header .favicon:not(.svg) {
	filter: unset;
}

#browser.color-behind-tabs-off .tab-position {
	bottom: 1px;
}

.toolbar .toolbar-spacer-flexible {
	flex: 0
}
.UrlBar-SearchField, .UrlBar-AddressField {
	height: 29px;
	border: unset !important;
	background-color: hsl(0, 1%, 10%);
	padding: unset;
	margin: 0;
	border-radius: 10px;
}
/* address bar, extensions, etc holder */
.color-behind-tabs-off .mainbar {
	background-color: #292828;
}
/* border on the top of address bar, etc-holder */
.address-bottom .mainbar {
	border-top: unset;
}

/* panel and extension buttons */
.toolbar-mainbar > .button-toolbar > button,
.toolbar-mainbar .toolbar-extensions > .button-toolbar > button {
	color: #d4be98;
	height: 29px;
}

.color-behind-tabs-off .toolbar-mainbar > .button-toolbar > button:hover,
.color-behind-tabs-off .toolbar-mainbar .toolbar-extensions > .button-toolbar > button:hover {
	background-color: hsl(0, 1%, 10%);
}

.button-toolbar > button.ToolbarButton-Button[name="PanelToggle"] {
	border-radius: 0 10px 10px 0;
}

.toolbar-extensions > .button-toolbar > button.ToolbarButton-Button[name="Extensions"] {
	border-radius: 10px 0 0 10px;
}