[Desktop Entry]
Name=Directory inode
Comment=Opener of the directory inode
Terminal=true
TryExec=foot
Exec=foot -D %F
Type=Application
MimeType=inode/directory
Categories=Utility;Core;System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Explorer;Browser;Launcher
